@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --border: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Sora", sans-serif;
  font-weight: 300;
}
body {
  /* News */

  /* Off White */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f9f9f9;
}

.checkbox {
  visibility: hidden;
}
.main-content-1 {
  display: none;
}
#mobile {
  display: none;
}
#col-3-hide {
  display: none;
}
#image-raw-1 {
  display: none;
}
#check {
  display: none;
}
.check-drop {
  display: none;
}
footer .footer-content .main-content .drop {
  display: none;
}
a {
  text-decoration: none;
  color: #373f66;
}
.clear {
  clear: both;
}
.header .login {
  display: none;
}
.container {
  position: relative;
  width: 1180px;
}
.header {
  width: 100%;
  margin-top: 30px;
  height: 40px;
  background-color: #000000;
}
.header .logo {
  position: absolute;
  background-image: url("/assets/SVGS/image\ 49.svg");
  width: 26px;
  height: 26px;
  top: 18%;
  bottom: 18%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  left: 0;
}

.header .nav .nav-items {
  position: absolute;
  margin: auto;
  top: 30%;
  bottom: 20%;
  left: 7.37%;
  right: 22.34%;
}
.header .nav .nav-items li {
  display: inline-block;
  margin: auto;
  margin: 0px 10px;
  color: #373f66;
}
.header .nav .nav-items li a {
  font-size: 12px;
}

.header .nav .nav-items li img {
  margin-left: 3px;
}
.header .nav-btn {
  position: absolute;
  right: 0;
  top: 4px;
}
.header .nav-btn1 {
  width: 130px;
  height: 40px;

  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 12px;
  margin-right: 20px;
  border: none;
  letter-spacing: 0.08em;
}

.header .nav-btn2 {
  width: 130px;
  height: 40px;
  background: #4ac0b1;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 12px;
  border: none;
  letter-spacing: 0.08em;
}
/* section1 \*/
.section-1 {
  position: relative;
  top: 70px;
  background-color: #000000;

  margin-bottom: 100px;
}
.section-1 .top {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: max-content;
}

.section-1 .top .left-side {
  position: relative;
  width: 70%;

  display: flex;
  flex-direction: column;
  left: 0;
}

.top .left-side h1 {
  width: 504px;
  height: 59px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  /* or 64px */

  /* Kon */

  color: #373f66;
  margin-bottom: 30px;
}
.top .left-side .label-1 {
  width: 707px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  letter-spacing: 0.08em;

  /* Kon */

  color: #373f66;
  margin-bottom: 31px;
}
.top .left-side .lg-btn {
  position: relative;
  width: 615px;
  height: 60px;
  background: #4ac0b1;
  border-radius: 5px;
  padding: 0;
}
.top .left-side .lg-btn .btn-label {
  position: absolute;
  margin: 0;
  left: 0%;
  width: 465px;
  height: 36px;
  background-color: #000000;
  padding: 0%;
  height: fit-content;
  width: fit-content;

  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */

  letter-spacing: 0.08em;

  /* Off White */

  color: #f9f9f9;
}
.top .left-side .lg-btn img {
  position: relative;

  height: 60px;
  width: 60px;
  padding: 0;
  margin: auto 0;
  margin-left: 20px;
}
.top .left-side .read-more {
  width: fit-content;
  margin: 20px 0;
  border-bottom: 1px black solid;
  padding: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top .left-side .read-more .label-2 {
  color: #373f66;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.08em;
  margin-right: 10px;
}

.top .right-side {
  position: relative;
  width: 30%;

  /* background-image: url("/assets/Group\ 125521.png");
  background-repeat: no-repeat;
  background-size: cover; */

  right: 0;
}
.top .right-side img {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
}
.section-1 .middle {
  position: relative;
  margin: 30px 0;
  width: 85%;
}
.section-1 .middle p span {
  font-weight: 400;
  color: #373f66;
  line-height: 160%;
  font-family: "Noto Sans JP", sans-serif;
}
.section-1 .middle p {
  position: relative;
  margin-top: 20px;
  margin-bottom: 100px;
  font-weight: 400;
  font-size: 12px;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.08em;
  line-height: 150%;
  color: #373f66;
}
.section-1 .bottom {
  position: relative;
  top: 30px;
  margin-bottom: 50px;
}
.section-1 .bottom .list {
  position: relative;
}
.bottom .list .nav-items {
  position: relative;
  margin-top: 10px;
  bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottom .list .nav-items .list-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 0;
}
.bottom .list .nav-items .list-block a {
  position: relative;
  margin: 5px auto;
  padding: 8px 10px;
  border: 2px #4ac0b1 solid;
  border-radius: 5px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #ffffff;
  color: #373f66;
}
.bottom .list .nav-items .list-block label {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #373f66;
  margin-bottom: 20px;
}
.bottom .list .nav-items .list-block a img {
  position: relative;
  margin: auto 5px;
  top: 3px;
}
.bottom .list .nav-items .list-block .search-btn {
  position: relative;
  padding: 2px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  background-color: #4ac0b1;
  border-radius: 10px;
  height: 50px;
  top: 44%;
}
.bottom .list .nav-items .search-btn img {
  position: relative;
  margin: auto 5px;
}
.bottom .list .nav-items .search-btn span {
  position: relative;
  margin: auto 5px;
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  color: #f5f5f5;
  font-weight: 700;
}
.section-1 hr {
  position: relative;
  width: 100%;
}
/* footer */

#footer {
  position: relative;
  width: 100%;
  height: 650px;
  margin: auto;
  background-image: url("/assets/Footer/Mask\ Group.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
#footer .footer-content {
  position: relative;
  top: 50px;
}
.footer-content .main-content {
  width: 75%;
}
.row-1,
.row-2 {
  margin: 10px 0;
}

#footer .footer-content li a {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;

  font-size: 12px;
  line-height: 150%;
  text-decoration: none;
  font-weight: 100;
  /* identical to box height, or 18px */

  letter-spacing: 0.1em;

  color: #ffffff;
}
#footer .footer-content li {
  margin-bottom: 3px;
  list-style: none;

  left: 0;
}
#footer .footer-content label {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  letter-spacing: 0.08em;

  color: #ffffff;
  margin-bottom: 20px;
}

#footer .footer-content ul {
  position: relative;

  list-style: none;
  left: 0;
  padding: 0;
}

.footer-content .main-content .row-1 {
  position: relative;
}
.col-1,
.col-2,
.col-3 {
  position: relative;
  float: left;
  box-sizing: border-box;
}
.col-1 {
  width: 30%;
}
.col-2 {
  width: 40%;
}

.col-3 {
  width: 30%;
}

#footer .bottom-footer {
  position: absolute;
  top: 535px;
  align-items: center;
  height: 100px;
  width: 100%;
  border-top: 1px solid #ffffff;
}
#footer .bottom-footer .ft-content {
  display: flex;

  flex-direction: row;
  justify-content: space-between;

  padding: 30px 0;
}
.ft-content .social {
  margin: auto 10px;
}
.ft-content .social img {
  margin: 0 10px;
}

#footer .footer-content .side-content {
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
}

.side-content .top-bar .logo {
  background-image: url("/assets/Footer/image\ 71.png");
  height: 109px;

  background-position: center center;
}
.side-content .top-bar .logo-cont {
  display: flex;
  flex-direction: row;
  width: 230px;
}
.side-content .top-bar .logo img {
  height: 40px;
  width: 40px;
  margin: 10px 10px;
}
.side-content .top-bar .logo .label-2 {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 100;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300px;

  letter-spacing: 0.05px;

  padding: 0;
  /* or 18px */

  color: #f5f5f5;
}
.side-content .top-bar .logo span {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */

  color: #f5f5f5;
}

.side-content .top-bar button.fb-btn {
  position: relative;
  background-image: url("/assets/SVGS/Group\ 125035.svg");
  width: 80px;
  height: 30px;
  left: 210px;
  bottom: 100px;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
}
.side-content .top-bar button.learn-btn {
  position: relative;
  background-image: url("/assets/SVGS/Group\ 125036.svg");
  width: 80px;
  height: 30px;
  left: 125px;
  bottom: 40px;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
}

.bottom-bar {
  position: relative;
  height: 292px;
  width: 100%;
  background: #e2edfe;
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 15px;
}

.bottom-bar .top-img {
  background-image: url("/assets/Footer/image\ 70.png");
  width: 100%;
  height: 159px;
}

.bottom-bar .title-3 {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}

.bottom-bar .logo {
  float: left;
  display: flex;
  flex-direction: row;
  width: 90%;

  margin: 10px 10px 2px 10px;
  box-sizing: border-box;
  justify-content: space-between;
}
.bottom-bar .logo img {
  height: 25px;
  width: 25px;
  margin: auto 0;
}

.bottom-bar .logo .fb-logo img {
  position: relative;
  top: 10px;
  width: 30px;

  height: 30px;
  margin: auto 0;
}

.bottom-bar .content-bar {
  margin: 0 10px;
}
.bottom-bar .content-bar .title-4 {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  font-weight: 600;

  /* or 18px */

  color: #000000;
}
.bottom-bar .content-bar .cont-data {
  margin-top: 15px;
  /* or 18px */
}
.cont-data span {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  font-weight: 480;
  color: #000000;
}

@media (max-device-width: 1023.5px) {
  body {
    margin: 0;
    padding: 0;
    border: none;

    overflow-x: clip;

    /* background-color: #f9f9f9; */
  }

  .container {
    width: 76.8%;
    left: 0;
    margin-left: 16px;
    margin: 0 auto;
    padding: 0;
  }
  header {
    padding: 0;
    margin: 0;
    margin-top: 16px;
  }
  .header .logo {
    position: absolute;
    width: 28px;
    height: 28px;
    margin: 0 0;
    top: 0;
  }
  header .header {
    width: 100%;
    margin: 0;
    padding: 0;
    height: fit-content;
    overflow: hidden;
  }
  #web {
    display: none;
  }
  #mobile {
    display: block;
  }
  .header .nav {
    background-color: transparent;
    position: sticky;
    margin-top: 50px;

    height: 0;

    width: 100%;
    box-shadow: 0 15px 25px 0.1;

    border-radius: 10px;
    transition: 1s ease-out;
    opacity: 0;
  }

  .header .nav ul.nav-items {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.932);
    width: 100%;
    margin: auto auto;
    left: 0;
  }
  .header .nav ul.nav-items li {
    margin: 25px 70px;
    display: block;
  }
  .header .nav ul.nav-items li a:hover {
    color: #43e97b;
  }
  .header .nav-btn {
    display: none;
  }
  .header .checkbox {
    position: relative;
    visibility: visible;
    padding: 0;

    float: right;
  }

  /* .section-1 */
  .section-1 {
    margin-top: 0;
    top: 5%;
  }
  .section-1 .top .left-side {
    width: 100%;
  }
  .top .left-side h1 {
    font-size: 32px;
    letter-spacing: 0.05em;
  }
  .top .left-side .label-1 {
    font-size: 12px;
    line-height: 170%;
  }
  .top .right-side {
    position: absolute;
    display: block;
    background-size: contain;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    bottom: 0%;

    top: 43%;

    background-image: url("/assets/Group\ 126104.png");
    background-repeat: no-repeat;

    z-index: 1;
  }
  .top .right-side img {
    display: none;
  }
  .top .left-side .lg-btn {
    position: relative;
    margin-top: 50%;
    padding: 8px 10px;
    width: 100%;
  }
  .top .left-side .lg-btn .btn-label {
    font-size: 12px;
    letter-spacing: 0.15em;
    font-weight: 400;
  }
  .top .left-side .lg-btn img {
    height: 20px;
    width: 20px;

    margin-left: 10px;
  }
  .top .left-side .read-more {
    margin-bottom: 0;
  }
  .top .left-side .read-more .label-2 {
    color: #373f66;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.08em;
    margin-right: 5px;

    bottom: 0%;
  }
  .top .left-side .read-more img {
    height: 15px;
    width: 15px;
    margin: 0;
  }
  .section-1 .middle {
    position: relative;
    margin-top: 0;

    margin-bottom: 0;
    bottom: 0;

    width: 100%;
  }
  .section-1 .middle p {
    position: relative;

    font-weight: 400;
    font-size: 12px;
  }
  .section-1 .middle p span {
    display: block;
    font-weight: 400;
    color: #373f66;
    line-height: 160%;
    font-family: "Noto Sans JP", sans-serif;
  }
  .section-1 .bottom {
    position: absolute;
    width: 100%;
    top: 90%;
  }

  .section-1 .bottom .nav-items {
    display: none;
  }

  #list-block-mobile {
    display: block;
    position: relative;
    top: 0;
    margin-top: 0;
  }
  #list-block-mobile .search-btn {
    position: relative;
    width: 100%;
    padding: 3px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    background-color: #4ac0b1;
    border-radius: 5px;
  }
  .bottom #list-block-mobile .search-btn img {
    position: relative;
    margin: auto 5px;
  }
  .bottom #list-block-mobile .search-btn span {
    position: relative;
    margin: auto 10px;
    font-size: 14px;
    font-family: "Noto Sans JP", sans-serif;
    color: #f5f5f5;
    font-weight: 400;
  }
  /* footer */
  #footer {
    width: 100%;
    height: fit-content;
    top: 80;
    background-size: cover;
    border-radius: 15px;
    background-image: url("/assets/Footer/Mask\ group1.png");

    background-repeat: no-repeat;
    background-position: center center;
    background-color: #373f66;
  }
  #footer .container {
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
  }

  .footer-content {
    top: 0;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
  }

  #footer .footer-content {
    top: 0;
    margin: 0;
  }
  footer .footer-content .main-content {
    width: 100%;
    top: 0;
    margin-bottom: 50px;
  }

  footer .footer-content .main-content .drop {
    display: block;
    position: relative;
    float: right;
    top: 10px;
  }
  #footer .footer-content ul {
    margin-top: 30px;
  }
  #footer .footer-content ul li {
    margin-bottom: 0;
    margin-bottom: 16px;
  }

  .footer-content .main-content .row-1,
  .footer-content .main-content .row-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #footer .bottom-footer {
    position: relative;
    top: 0;

    margin-top: 100px;
    margin-bottom: 10px;
  }
  #footer .footer-content .side-content {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
  }
  #footer .footer-content .side-content .top-bar .logo .label-2 {
    font-size: 11px;
  }
  #footer .side-content .top-bar .fb-btn {
    left: 70%;
  }
  #footer .side-content .top-bar .learn-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    padding: 0;
    left: 70%;
    top: 15%;
  }

  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
    margin: 15px auto;
  }

  #footer .bottom-footer .ft-content img {
    height: 30px;
    width: 125px;
  }
  #footer .bottom-footer .ft-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .ft-content .social {
    margin: auto 5px;
    width: 114px;
    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .ft-content .social img {
    margin: 0 5px;
  }
  #up,
  #up-1,
  #up-2,
  #up-3,
  #up-4,
  #up-5 {
    display: none;
  }

  .main-content .uld {
    display: none;
    transition: ease-in 0.5s;
  }
  #footer .footer-content .side-content {
    position: relative;
    width: 100%;
    margin: auto;
  }
  #footer .footer-content .side-content .bottom-bar .top-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    width: 100%;
  }
}
@media only screen and (min-width: 540px) and (max-width: 1023.5px) {
  #footer .footer-content .side-content {
    position: relative;
    width: 400px;
    margin: auto;
  }
  #footer .footer-content .side-content .bottom-bar .top-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366.5px) {
  body {
    margin: 0;
    padding: 0;
    border: none;

    overflow-x: hidden;
  }

  #image-raw {
    display: none;
  }

  .container {
    width: 904px;
    margin: 0 auto;
  }

  .main-content {
    display: none;
  }
  .check-drop {
    display: none;
  }
  footer .footer-content .main-content-1 .drop {
    display: none;
  }
  #col-3-hide {
    display: block;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-2 .article-content .hide-item {
    display: none;
  }
  #hide-item-1 {
    display: none;
  }
  /* header */
  #mobile {
    display: none;
  }
  .header {
    position: relative;
    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header .nav-btn {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;

    height: fit-content;

    padding: 0;
  }
  .header .nav-btn1 {
    width: 130px;
    height: 40px;

    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 53px;
    margin-right: 20px;
    color: #373f66;
  }

  .header .nav-btn2 {
    width: 130px;
    height: 40px;
    font-weight: 700;
    background: #4ac0b1;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 12px;
    right: 0;
    color: #ffffff;
  }
  .header .nav-items {
    position: relative;

    margin: auto 0;
    top: 5px;
    width: 733px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header .login {
    display: block;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: auto 0;
  }

  .header .nav .nav-items li {
    margin: 0;

    padding: 0;
  }
  .header .nav .nav-items img {
    margin-left: 4px;
    position: relative;
    height: 20px;
    width: 20px;
    bottom: 1.5px;
  }

  .header .nav .frame2 {
    position: relative;
    bottom: 6px;
  }
  .header .nav .frame6 {
    position: relative;
    bottom: 6px;
  }
  .header .nav .nav-items li a {
    position: relative;
    font-size: 12px;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
    color: #373f66;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.08em;
  }
  .header .login #login-drop {
    position: relative;
    background-image: url("/assets/SVGS/Header/20px/Vector.svg");
    width: 16px;
    height: 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    top: 0px;
    color: white;
    margin-left: 10px;
  }
  .header .login img {
    position: relative;
    top: 2px;
    background-color: #ffffff;
    padding: 6px 8px;
    border-radius: 5px;
  }

  .header .nav-btn button {
    margin: 3px auto;
  }

  /* .section-1 */

  .section-1 .top .left-side h1 {
    font-size: 42px;
  }
  .top .left-side .label-1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.08em;
    width: 75%;
  }
  .top .left-side .lg-btn {
    padding: 0px 20px;
    margin-top: 4%;
  }
  .top .left-side .lg-btn .btn-label {
    font-size: 18px;
  }
  .top .left-side .lg-btn img {
    height: 46px;
    width: 46px;
  }

  .top .left-side .read-more .label-2 {
    font-size: 12px;
  }

  .top .right-side {
    width: 35%;
  }
  .top .right-side img {
    position: absolute;
    right: 0;
    width: 300px;
    height: 241px;
  }
  .section-1 .middle {
    position: relative;
    margin: 20px 0;
    width: 75%;
  }
  .section-1 .middle p {
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.2em;
  }
  .section-1 .bottom {
    top: 10px;
    margin-bottom: 20px;
  }
  .bottom .list .nav-items .list-block label {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #373f66;
    margin-bottom: 20px;
  }
  .bottom .list .nav-items .list-block a {
    font-size: 12px;
    padding: 5px 8px;

    margin: auto 0;
  }
  .bottom .list .nav-items .list-block a img {
    position: relative;
    top: 0;
    margin: auto 2px;
    height: 12px;
    width: 12px;
  }
  .bottom .list .nav-items .list-block .search-btn {
    padding: 1px 12px;

    border-radius: 7px;
    height: 32px;
    top: 53%;
  }
  .bottom .list .nav-items .search-btn span {
    font-size: 12px;
  }
  #footer {
    height: 940px;
    width: 100%;
    margin-bottom: 0;
  }
  #footer .main-content-1 {
    display: block;
  }

  .footer-content .main-content-1 {
    width: 65%;
  }
  .footer-content .main-content-1 label {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.08em;

    color: #ffffff;
  }
  .row-1,
  .row-2,
  .row-3 {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .col-1,
  .col-2 {
    position: relative;
    float: left;
    box-sizing: border-box;
  }
  .col-1 {
    width: 50%;
  }
  .col-2 {
    width: 50%;
  }
  #footer .footer-content ul {
    margin-top: 20px;
    top: 0;
  }
  #footer .footer-content ul li {
    margin-top: 0;
    margin-bottom: 10px;
    top: 0;
  }
  #footer .footer-content ul li a {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    letter-spacing: 0.08em;
  }

  #footer .bottom-footer {
    position: static;
    margin-top: 110px;
  }
  #footer .bottom-footer .social {
    width: 130px;

    margin-right: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #footer .bottom-footer .social img {
    margin: 0;
  }
  #footer .footer-content .side-content {
    position: absolute;
    right: 0;
    top: 0;
    width: 33%;
  }

  .bottom-bar {
    height: 589px;
  }
}

@media (min-width: 1367px) {
  body {
    width: 100%;
    overflow-x: clip;
    margin: 0 auto;
  }
  #mobile {
    display: none;
  }
  .container {
    width: 1180px;
    margin: 0 auto;
  }
  .header {
    margin-top: 30px;
    height: 40px;
  }
  .header .nav .nav-items {
    width: 761px;
    height: fit-content;
    padding: 0;
    left: 0;
    margin-left: 86px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header .nav .nav-items li {
    display: inline-block;
    margin: 0;
    left: 0;
    margin-left: 0;
    color: #373f6642;
  }
  .header .nav .nav-items li a {
    font-size: 12px;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
    color: #373f66;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.08em;
  }
  .header .nav .nav-items li img {
    position: relative;
    margin-left: 4px;
    height: 20px;
    width: 20px;
  }
  .header .nav .frame2 {
    position: relative;
    bottom: 6px;
  }
  .header .nav .frame6 {
    position: relative;
    bottom: 6px;
  }
  .header .nav-btn {
    width: fit-content;
    padding-left: 0;
    float: right;
    margin: 0;
    top: 0;
  }
  .header .nav-btn1 {
    width: 130px;
    height: 40px;

    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 53px;
    margin-right: 20px;
    color: #373f66;
  }

  .header .nav-btn2 {
    width: 130px;
    height: 40px;
    font-weight: 700;
    background: #4ac0b1;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 12px;
    right: 0;
    color: #ffffff;
  }

  #footer {
    position: relative;
    top: 160px;
    height: 658px;
    background-size: cover;
    background-position: center center;
    border-radius: 15px;
  }
  .row-1,
  .row-2 {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #footer .footer-content ul {
    margin-top: 20px;
    top: 0;
  }
  #footer .footer-content ul li {
    margin-top: 0;
    margin-bottom: 10px;
    top: 0;
  }
  #footer .footer-content .main-content label {
    font-size: 16px;
  }
  #footer .footer-content ul li a {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    letter-spacing: 0.08em;
  }
  #footer .side-content .top-bar {
    position: relative;
    margin-bottom: 25px;
  }
  #footer .side-content .top-bar {
    position: relative;
  }
  #footer .side-content .top-bar .fb-btn {
    position: absolute;
    background-color: #e2edfe;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    top: 5%;
    left: 70%;
  }
  #footer .side-content .top-bar .learn-btn {
    position: absolute;
    background-color: #e2edfe;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    top: 65%;
    left: 70%;
  }
  #footer .side-content .top-bar .logo .label-2 {
    font-size: 11px;
    width: 58%;
  }
  #footer .bottom-footer {
    position: relative;
    top: 35px;
  }
  #footer .bottom-footer .social {
    width: 130px;

    margin-right: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #footer .bottom-footer .social img {
    margin: 0;
  }
}
