@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --border: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Sora", sans-serif;
  font-weight: 300;
}
body {
  /* News */

  /* Off White */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f9f9f9;
}
#tab-bottom {
  display: none;
}
#mobile-span {
  display: none;
}
.checkbox {
  visibility: hidden;
}
.main-content-1 {
  display: none;
}
#mobile-arrow {
  display: none;
}
#mobile {
  display: none;
}
#col-3-hide {
  display: none;
}
#image-raw-1 {
  display: none;
}
#check {
  display: none;
}
.check-drop {
  display: none;
}
footer .footer-content .main-content .drop {
  display: none;
}
a {
  text-decoration: none;
  color: #373f66;
}
#mobile-img {
  display: none;
}
.pagination-mobile {
  display: none;
}
.clear {
  clear: both;
}
.header .login {
  display: none;
}
.container {
  position: relative;
  width: 1180px;
}
.header {
  width: 100%;
  margin-top: 30px;
  height: 40px;
}
.header .logo {
  position: absolute;
  background-image: url("/assets/SVGS/image\ 49.svg");
  width: 26px;
  height: 26px;
  top: 18%;
  bottom: 18%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  left: 0;
}

.header .nav .nav-items {
  position: absolute;
  margin: auto;
  top: 30%;
  bottom: 20%;
  left: 7.37%;
  right: 22.34%;
}
.header .nav .nav-items li {
  display: inline-block;
  margin: auto;
  margin: 0px 10px;
  color: #373f66;
}
.header .nav .nav-items li a {
  font-size: 12px;
}

.header .nav .nav-items li img {
  margin-left: 3px;
}
.header .nav-btn {
  position: absolute;
  right: 0;
  top: 4px;
}
.header .nav-btn1 {
  width: 130px;
  height: 40px;

  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 12px;
  margin-right: 20px;
  border: none;
  letter-spacing: 0.08em;
}

.header .nav-btn2 {
  width: 130px;
  height: 40px;
  background: #4ac0b1;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 12px;
  border: none;
  letter-spacing: 0.08em;
}
/* section1 \*/
.section-1 {
  position: relative;
  margin-top: 70px;
  height: fit-content;
}
.section-1 .container {
  border-bottom: 1px solid #373f66;
}
.section-1 .top {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: max-content;
}
#list-block-mobile {
  display: none;
}
.section-1 .top .left-side {
  position: relative;
  width: 70%;

  display: flex;
  flex-direction: column;
  left: 0;
}

.top .left-side h1 {
  width: 504px;
  height: 59px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  /* or 64px */

  /* Kon */

  color: #373f66;
  margin-bottom: 30px;
}
.top .left-side .label-1 {
  font-family: "Noto Sans JP", sans-serif;
  width: 707px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  letter-spacing: 0.08em;

  /* Kon */

  color: #373f66;
  margin-bottom: 31px;
}
.top .left-side .lg-btn {
  position: relative;
  width: 615px;
  height: 60px;
  background: #4ac0b1;
  border-radius: 5px;
  padding: 0;
  border: none;
}
.top .left-side .lg-btn .btn-label {
  position: absolute;

  margin: 0;
  left: 0%;
  width: 467px;
  height: 36px;

  padding: 0%;
  left: 40px;
  top: 12px;
  border: none;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */

  letter-spacing: 0.08em;

  /* Off White */

  color: #f9f9f9;
}
.top .left-side .lg-btn .tab {
  display: none;
}

.top .left-side .lg-btn img {
  position: absolute;

  height: 60px;
  width: 60px;
  bottom: 0;
  right: 30px;
  margin: 0;
  border: none;
}

.top .left-side .read-more {
  margin-top: 10px;
  width: 165px;
  height: 24px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 1px solid #373f66;
}
.top .left-side .read-more .label-2 {
  font-family: "Noto Sans JP", sans-serif;
  border: none;
  margin: auto;
  margin-left: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  display: flex;
  align-items: flex-end;
  letter-spacing: 0.08em;

  /* Kon */

  color: #373f66;
}

.top .right-side {
  position: relative;
  width: 328px;
  height: 262px;

  /* background-image: url("/assets/Group\ 125521.png");
  background-repeat: no-repeat;
  background-size: cover; */

  right: 0;
}
.top .right-side img {
  position: absolute;
  right: 0;
  top: 0;
  width: 328px;
  height: 262px;
}
.section-1 .middle {
  position: relative;
  margin-top: 30px;
  width: fit-content;
  height: 36px;
}
.section-1 .middle p span {
  font-family: "Noto Sans JP", sans-serif;
  display: block;
  width: fit-content;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */

  letter-spacing: 0.08em;

  /* Kon */

  color: #373f66;
}
.section-1 .middle p {
  font-family: "Noto Sans JP", sans-serif;
  position: relative;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */

  letter-spacing: 0.08em;

  /* Kon */

  color: #373f66;
}
.section-1 .bottom {
  width: 100%;
  height: 84px;

  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
}
.section-1 .bottom .list {
  position: relative;
  width: 100%;
  border: none;
  margin: 0;
}
.bottom .list .nav-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  margin: 0;
}
.bottom .list .nav-items .list-block {
  height: 84px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: none;
  margin: 0;
}
.bottom .list .nav-items .list-block a {
  position: relative;
  height: 40px;
  padding: auto 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  border: 1px solid #4ac0b1;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #ffffff;
}
.bottom .list .nav-items .list-block a span {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  height: fit-content;
  width: fit-content;
  border: none;
  /* identical to box height, or 24px */

  letter-spacing: 0.08em;
  margin: auto;
  margin-right: 0;
  margin-left: 0;
  margin-left: 10px;
  margin-right: 6px;

  /* Kon */

  color: #373f66;
}
.bottom .list .nav-items .list-block label {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  letter-spacing: 0.08em;

  /* Kon */

  color: #373f66;
}
.bottom .list .nav-items .list-block a img {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin: auto 0;

  margin-right: 10px;

  border: none;
}
.bottom .list .nav-items .list-block .search-btn {
  position: relative;
  width: 141px;
  height: 40px;
  border: none;
  top: 43px;
  background: #4ac0b1;
  border-radius: 5px;
  padding: 0;
}
.bottom .list .nav-items .search-btn img {
  position: absolute;
  top: 6px;
  left: 0;
  left: 17px;
  height: fit-content;
  width: fit-content;
  margin: auto 0;

  border: none;
}
.bottom .list .nav-items .search-btn span {
  position: absolute;
  height: fit-content;
  width: fit-content;
  font-size: 16px;
  left: 0;
  font-family: "Noto Sans JP", sans-serif;
  color: #f5f5f5;
  top: 0%;
  top: 7px;
  left: 57px;
  font-weight: 700;
}
.section-1 hr {
  display: none;
  border: none;
}

.section-2 {
  position: relative;

  height: fit-content;
  margin-top: 60px;
  margin-bottom: 60px;
}
.section-2 .top-menu {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-2 .left-item {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto 0;
}
.section-2 .right-item {
  position: relative;

  height: fit-content;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-2 .top-menu .left-item img {
  position: relative;
  height: fit-content;
  width: fit-content;
  left: 0;
  margin: auto 0;
  margin-right: 20px;
  width: 30px;
  height: 30px;
}
.section-2 .top-menu .left-item .note {
  font-family: "Noto Sans JP", sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.08em;
  color: #373f66;
  height: 36px;
  width: 514px;
}

.section-2 .right-item label {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  letter-spacing: 0.08em;
  margin: auto 0;

  /* Kon */

  color: #373f66;
}
.section-2 .top-menu .right-item a {
  position: relative;
  padding: 11px 20px;
  top: 0;
  bottom: 0;
  margin-bottom: 0;
  text-decoration: none;

  background: #ffffff;
  box-sizing: border-box;
  /* Green */

  border: 1px solid #4ac0b1;

  border-radius: 5px;
  margin-left: 30px;
}
.section-2 .top-menu .right-item a span {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  text-align: right;
  letter-spacing: 0.08em;
  margin: auto 0;

  /* Kon */

  color: #373f66;
}
.section-2 .top-menu .right-item a img {
  position: relative;
  top: 3px;
  height: 16px;
  width: 16px;

  margin: auto 0;
  margin-left: 10px;
}

.section-2 .content-menu {
  width: 100%;
  height: fit-content;
  margin-top: 60px;

  border: none;
}
.section-2 .content-menu .articles {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  margin: 0;
}
.section-2 .col-1,
.section-2 .col-2,
.section-2 .col-3,
.section-2 .col-4 {
  width: 280px;
  height: 4309px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
}

.section-2 .articles .item {
  width: 280px;

  height: 313px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}
.section-2 .articles .item .content {
  width: 240px;
  margin: auto;
  height: 273px;
  border: none;
  margin-top: 20px;
}
.section-2 .articles .item .content .msg {
  height: 42px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
  border: none;
}
.section-2 .articles .item .content .msg img {
  height: 30px;
  width: 30px;
  margin: auto 0;
  margin-right: 15px;
}
.section-2 .articles .item .content .msg label {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  letter-spacing: 0.08em;

  /* Kon */
  border: none;

  color: #373f66;
}
.section-2 .articles .item .content .msg label span {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  display: flex;
  align-items: flex-end;
  letter-spacing: 0.08em;
  border: none;

  /* Kon */

  color: #373f66;
}
.section-2 .articles .item .content .bottm {
  position: relative;
  height: 56px;
  width: 100%;
  border-top: 1px solid #373f66;

  margin-top: 20px;
}
.section-2 .articles .item .content .bottm label {
  position: absolute;
  bottom: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */

  letter-spacing: 0.08em;

  /* Kon */

  color: #373f66;
}
.section-2 .pagination {
  position: relative;
  margin: 0 auto;
  width: 460px;
  height: 30px;
  margin-top: 60px;
}
.section-2 .pagination .page-list {
  width: 460px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-2 .pagination .page-list img {
  position: relative;
  top: 5px;
}
.section-2 .pagination .page-list li {
  position: relative;
  display: flex;
  justify-content: center;
  top: 5px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;

  border: none;
  border-radius: 50%;
}

.section-2 .pagination .page-list li a {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  top: 3px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  letter-spacing: 0.08em;

  /* Kon */

  color: #373f66;
}
.section-2 .page-list #middle {
  position: relative;
  top: 0;
  margin: 0;
  bottom: 40px;
}
.section-2 .page-list #middle-list {
  position: relative;
  top: 0;
  margin: 0;
  top: 5px;
}
.pagination .page-list .active-1 {
  background-color: #4ac0b0;
}
.pagination .page-list li a.active {
  color: white;
}

/* footer */

#footer {
  position: relative;
  width: 100%;
  height: 650px;
  margin: 0;
  background-color: #000000;
  top: 0;
  background-image: url("/assets/Footer/Mask\ Group.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
#footer .footer-content {
  position: relative;
  top: 50px;
}
.footer-content .main-content {
  width: 75%;
}
.row-1,
.row-2 {
  margin: 10px 0;
}

#footer .footer-content li a {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;

  font-size: 12px;
  line-height: 150%;
  text-decoration: none;
  font-weight: 100;
  /* identical to box height, or 18px */

  letter-spacing: 0.1em;

  color: #ffffff;
}
#footer .footer-content li {
  margin-bottom: 3px;
  list-style: none;

  left: 0;
}
#footer .footer-content label {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  letter-spacing: 0.08em;

  color: #ffffff;
  margin-bottom: 20px;
}

#footer .footer-content ul {
  position: relative;

  list-style: none;
  left: 0;
  padding: 0;
}

.footer-content .main-content .row-1 {
  position: relative;
}
.col-1,
.col-2,
.col-3 {
  position: relative;
  float: left;
  box-sizing: border-box;
}
.col-1 {
  width: 30%;
}
.col-2 {
  width: 40%;
}

.col-3 {
  width: 30%;
}

#footer .bottom-footer {
  position: absolute;
  top: 535px;
  align-items: center;
  height: 100px;
  width: 100%;
  border-top: 1px solid #ffffff;
}
#footer .bottom-footer .ft-content {
  display: flex;

  flex-direction: row;
  justify-content: space-between;

  padding: 30px 0;
}
.ft-content .social {
  margin: auto 10px;
}
.ft-content .social img {
  margin: 0 10px;
}

#footer .footer-content .side-content {
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
}

.side-content .top-bar .logo {
  background-image: url("/assets/Footer/image\ 71.png");
  height: 109px;

  background-position: center center;
}
.side-content .top-bar .logo-cont {
  display: flex;
  flex-direction: row;
  width: 230px;
}
.side-content .top-bar .logo img {
  height: 40px;
  width: 40px;
  margin: 10px 10px;
}
.side-content .top-bar .logo .label-2 {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 100;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300px;

  letter-spacing: 0.05px;

  padding: 0;
  /* or 18px */

  color: #f5f5f5;
}
.side-content .top-bar .logo span {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */

  color: #f5f5f5;
}

.side-content .top-bar button.fb-btn {
  position: relative;
  background-image: url("/assets/SVGS/Group\ 125035.svg");
  width: 80px;
  height: 30px;
  left: 210px;
  bottom: 100px;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
}
.side-content .top-bar button.learn-btn {
  position: relative;
  background-image: url("/assets/SVGS/Group\ 125036.svg");
  width: 80px;
  height: 30px;
  left: 125px;
  bottom: 40px;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
}

.bottom-bar {
  position: relative;
  height: 292px;
  width: 100%;
  background: #e2edfe;
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 15px;
}

.bottom-bar .top-img {
  background-image: url("/assets/Footer/image\ 70.png");
  width: 100%;
  height: 159px;
}

.bottom-bar .title-3 {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}

.bottom-bar .logo {
  float: left;
  display: flex;
  flex-direction: row;
  width: 90%;

  margin: 10px 10px 2px 10px;
  box-sizing: border-box;
  justify-content: space-between;
}
.bottom-bar .logo img {
  height: 25px;
  width: 25px;
  margin: auto 0;
}

.bottom-bar .logo .fb-logo img {
  position: relative;
  top: 10px;
  width: 30px;

  height: 30px;
  margin: auto 0;
}

.bottom-bar .content-bar {
  margin: 0 10px;
}
.bottom-bar .content-bar .title-4 {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  font-weight: 600;

  /* or 18px */

  color: #000000;
}
.bottom-bar .content-bar .cont-data {
  margin-top: 15px;
  /* or 18px */
}
.cont-data span {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  font-weight: 480;
  color: #000000;
}

@media (max-device-width: 1023.5px) {
  #desk-span {
    display: none;
  }
  #mobile-span {
    display: block;
  }
  #desk-img {
    display: none;
  }
  #hide-num {
    display: none;
  }

  .desk {
    display: none;
  }
  #tab {
    display: none;
  }
  body {
    margin: 0;
    padding: 0;
    border: none;

    overflow-x: clip;

    /* background-color: #f9f9f9; */
  }

  .container {
    width: 288px;
    left: 0;
    margin-left: 16px;
    margin: 0 auto;
    padding: 0;
  }
  header {
    padding: 0;
    margin: 0;
    margin-top: 16px;
    background-color: #000000;
    height: fit-content;
    margin-bottom: 0;
    bottom: 0;
  }
  .header .logo {
    position: absolute;
    width: 28px;
    height: 28px;
    margin: 0 0;
    top: 0;
  }
  header .header {
    width: 100%;
    margin: 0;
    padding: 0;

    height: fit-content;
    overflow: hidden;
  }
  #web {
    display: none;
  }
  #mobile {
    display: block;
  }
  .header .nav {
    background-color: transparent;
    position: sticky;
    margin-top: 50px;

    height: 0;

    width: 100%;
    box-shadow: 0 15px 25px 0.1;

    border-radius: 10px;
    transition: 1s ease-out;
    opacity: 0;
  }

  .header .nav ul.nav-items {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.932);
    width: 100%;
    margin: auto auto;
    left: 0;
  }
  .header .nav ul.nav-items li {
    margin: 25px 70px;
    display: block;
  }
  .header .nav ul.nav-items li a:hover {
    color: #43e97b;
  }
  .header .nav-btn {
    display: none;
  }
  .header .checkbox {
    position: relative;
    visibility: visible;
    padding: 0;

    float: right;
  }

  /* .section-1 */
  .section-1 {
    position: relative;

    margin-top: 0;
    margin-top: 50px;
    height: fit-content;
  }
  .section-1 .top .left-side {
    width: 100%;

    height: fit-content;
  }
  .top .left-side h1 {
    height: fit-content;
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    /* or 32px */

    display: flex;
    align-items: flex-end;

    /* Kon */

    color: #373f66;
  }
  .top .left-side .label-1 {
    width: 288px;
    height: 105px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
  }
  .top .right-side {
    top: 165;
    position: absolute;

    width: 288px;
    height: 113px;
    border: none;
    margin-top: 30px;
  }
  #mobile-img {
    position: relative;
    display: block;
    width: 284px;
    height: 113px;
    margin: 0 auto;
  }
  .top .left-side .lg-btn {
    position: relative;
    margin-top: 143px;
    width: 288px;
    height: 40px;
    border: none;
  }
  .top .left-side .lg-btn .btn-label {
    position: absolute;
    border: none;
    height: fit-content;
    width: fit-content;
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    display: flex;
    align-items: center;
    letter-spacing: 0.08em;

    /* Off White */

    color: #f9f9f9;
    left: 0;
    top: 0;
    margin-bottom: 0;
    margin-top: 12px;

    left: 12px;
  }
  #mobile-arrow {
    display: block;
  }
  .top .left-side .lg-btn img {
    position: absolute;
    height: fit-content;
    width: fit-content;

    right: 0;
    right: 12px;
    top: 0;
    margin-top: 12px;
  }
  .top .left-side .read-more {
    margin-bottom: 0;
    margin-top: 0;
    width: 133px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
  .top .left-side .read-more .label-2 {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    display: flex;
    align-items: center;
    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
  }
  .top .left-side .read-more img {
    height: fit-content;
    width: fit-content;
    margin: 0;
  }
  .section-1 .middle {
    position: relative;
    width: 100%;
    height: 144px;
    margin: 0;
    margin-top: 27px;
    margin-bottom: 30px;
  }
  .section-1 .middle p {
    position: relative;
    height: 144px;
    width: 284px;
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;

    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
  }
  .section-1 .middle p span {
    display: block;
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;

    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
  }
  .section-1 .bottom {
    position: relative;
    width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin-bottom: 30px;
  }

  .section-1 .bottom .nav-items {
    display: none;
  }

  #list-block-mobile {
    display: block;
    position: relative;
    top: 0;
    margin-top: 0;
    width: 100%;
    height: fit-content;
    border: none;
  }
  #list-block-mobile .search-btn {
    position: relative;
    width: 100%;
    padding: 3px 20px;
    display: flex;
    justify-content: center;
    border: none;
    background-color: #4ac0b1;
    border-radius: 5px;
    height: 40px;
  }
  .bottom #list-block-mobile .search-btn img {
    position: relative;
    margin: auto 0;
    height: 16px;
    width: 16px;
    margin-right: 8px;
  }
  .bottom #list-block-mobile .search-btn label {
    position: relative;
    margin: auto 0;

    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    display: flex;
    align-items: center;
    letter-spacing: 0.08em;

    /* White */

    color: #ffffff;
  }
  .bottom #list-block-mobile .search-btn label span {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    display: flex;
    align-items: center;
    letter-spacing: 0.08em;

    /* White */

    color: #ffffff;
  }
  /* footer */
  #footer {
    width: 100%;
    height: fit-content;
    top: 80;
    background-size: cover;
    border-radius: 15px;
    background-image: url("/assets/Footer/Mask\ group1.png");

    background-repeat: no-repeat;
    background-position: center center;
    background-color: #373f66;
  }
  #footer .container {
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
  }

  .footer-content {
    top: 0;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
  }

  .section-2 {
    position: relative;

    height: fit-content;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .section-2 .top-menu {
    position: relative;
    height: fit-content;
    width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    margin-bottom: 30px;
  }
  .section-2 .left-item {
    width: 288px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    margin: auto 0;
    margin-bottom: 30px;
  }
  .section-2 .right-item {
    position: relative;

    height: fit-content;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section-2 .top-menu .left-item img {
    position: relative;
    height: fit-content;
    width: fit-content;
    left: 0;
    margin: 0;
    margin-right: 12px;
    width: 30px;
    height: 30px;
  }
  .section-2 .top-menu .left-item .note {
    font-family: "Noto Sans JP", sans-serif;
    height: 67px;
    width: 251px;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    display: flex;
    align-items: center;
    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
  }
  .section-2 .right-item label {
    font-style: normal;
    width: 53px;
    height: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
  }
  .section-2 .top-menu .right-item a {
    position: relative;
    height: 40px;
    width: 220px;
    background: #ffffff;
    /* Green */
    padding: 0;
    border: 1px solid #4ac0b1;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section-2 .top-menu .right-item a span {
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    border: none;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    display: flex;
    align-items: center;
    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
    border: none;
    margin-left: 12px;
    margin-top: 10px;

    /* Kon */
  }
  .section-2 .top-menu .right-item a img {
    position: relative;
    border: none;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    border: none;
    height: 16px;
    width: 16px;
    margin-top: 10px;
    margin-right: 12px;
  }
  .pagination-mobile {
    display: block;
  }

  .pagination {
    width: 288px;
    height: fit-content;
    background-color: #373f66;
  }
  #footer .footer-content {
    top: 0;
    margin: 0;
  }
  footer .footer-content .main-content {
    width: 100%;
    top: 0;
    margin-bottom: 50px;
  }

  footer .footer-content .main-content .drop {
    display: block;
    position: relative;
    float: right;
    top: 10px;
  }
  #footer .footer-content ul {
    margin-top: 30px;
  }
  #footer .footer-content ul li {
    margin-bottom: 0;
    margin-bottom: 16px;
  }

  .footer-content .main-content .row-1,
  .footer-content .main-content .row-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #footer .bottom-footer {
    position: relative;
    top: 0;

    margin-top: 100px;
    margin-bottom: 10px;
  }
  #footer .footer-content .side-content {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
  }
  #footer .footer-content .side-content .top-bar .logo .label-2 {
    font-size: 11px;
  }
  #footer .side-content .top-bar .fb-btn {
    left: 70%;
  }
  #footer .side-content .top-bar .learn-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    padding: 0;
    left: 70%;
    top: 15%;
  }

  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
    margin: 15px auto;
  }

  #footer .bottom-footer .ft-content img {
    height: 30px;
    width: 125px;
  }
  #footer .bottom-footer .ft-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .ft-content .social {
    margin: auto 5px;
    width: 114px;
    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .ft-content .social img {
    margin: 0 5px;
  }
  #up,
  #up-1,
  #up-2,
  #up-3,
  #up-4,
  #up-5 {
    display: none;
  }

  .main-content .uld {
    display: none;
    transition: ease-in 0.5s;
  }
  #footer .footer-content .side-content {
    position: relative;
    width: 100%;
    margin: auto;
  }
  #footer .footer-content .side-content .bottom-bar .top-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    width: 100%;
  }
}
@media only screen and (min-width: 540px) and (max-width: 1023.5px) {
  #footer .footer-content .side-content {
    position: relative;
    width: 400px;
    margin: auto;
  }
  #footer .footer-content .side-content .bottom-bar .top-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366.5px) {
  body {
    margin: 0;
    padding: 0;
    border: none;

    overflow-x: hidden;
  }

  #desk-bottom {
    display: none;
  }
  #tab-bottom {
    display: block;
  }

  #image-raw {
    display: none;
  }

  .container {
    width: 904px;
    margin: 0 auto;
  }

  .main-content {
    display: none;
  }
  .check-drop {
    display: none;
  }
  footer .footer-content .main-content-1 .drop {
    display: none;
  }
  #col-3-hide {
    display: block;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-2 .article-content .hide-item {
    display: none;
  }
  #hide-item-1 {
    display: none;
  }
  /* header */
  #mobile {
    display: none;
  }

  .header {
    position: relative;
    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header .nav-btn {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;

    height: fit-content;

    padding: 0;
    display: none;
  }
  .header .nav-btn1 {
    width: 130px;
    height: 40px;

    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 53px;
    margin-right: 20px;
    color: #373f66;
  }

  .header .nav-btn2 {
    width: 130px;
    height: 40px;
    font-weight: 700;
    background: #4ac0b1;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 12px;
    right: 0;
    color: #ffffff;
  }
  .header .nav-items {
    position: relative;

    margin: auto 0;
    top: 5px;
    width: 733px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header .login {
    display: block;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: auto 0;
  }

  .header .nav .nav-items li {
    margin: 0;

    padding: 0;
  }
  .header .nav .nav-items img {
    margin-left: 4px;
    position: relative;
    height: 20px;
    width: 20px;
    bottom: 1.5px;
  }

  .header .nav .frame2 {
    position: relative;
    bottom: 6px;
  }
  .header .nav .frame6 {
    position: relative;
    bottom: 6px;
  }
  .header .nav .nav-items li a {
    position: relative;
    font-size: 12px;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
    color: #373f66;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.08em;
  }
  .header .login #login-drop {
    position: relative;
    background-image: url("/assets/SVGS/Header/20px/Vector.svg");
    width: 16px;
    height: 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    top: 0px;
    color: white;
    margin-left: 10px;
  }
  .header .login img {
    position: relative;
    top: 2px;
    background-color: #ffffff;
    padding: 6px 8px;
    border-radius: 5px;
  }

  .header .nav-btn button {
    margin: 3px auto;
  }

  /* .section-1 */

  .section-1 {
    position: relative;
    margin-top: 54px;
    height: fit-content;
  }
  .section-1 .container {
    border-bottom: 1px solid #373f66;
  }
  .section-1 .top {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
  }
  #list-block-mobile {
    display: none;
  }
  .section-1 .top .left-side {
    position: relative;
    width: 70%;

    display: flex;
    flex-direction: column;
    left: 0;
  }

  .top .left-side h1 {
    width: 504px;
    height: 37px;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    /* or 42px */

    /* Kon */

    color: #373f66;
    margin-bottom: 39px;
  }
  .top .left-side .label-1 {
    font-family: "Noto Sans JP", sans-serif;
    width: 513px;
    height: 65px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
    margin-bottom: 54px;
  }
  .top .left-side .lg-btn {
    position: relative;
    width: 455px;
    height: 46px;
    background: #4ac0b1;
    border-radius: 5px;
    padding: 0;
    border: none;
  }
  .top .left-side .lg-btn .btn-label {
    position: absolute;
    width: fit-content;
    height: fit-content;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    top: 0;
    left: 0;
    margin: 0;
    margin-top: 0;
    /* or 27px */
    margin-top: 9px;
    margin-left: 20px;
    letter-spacing: 0.08em;

    /* Off White */

    color: #f9f9f9;
  }
  .top .left-side .lg-btn img {
    display: none;
  }
  .top .left-side .lg-btn #tab {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: fit-content;
    width: fit-content;
    right: 20px;
  }
  .top .left-side .read-more {
    margin-top: 14px;
    width: 131px;
    height: 21px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid #373f66;
  }
  .top .left-side .read-more .label-2 {
    font-family: "Noto Sans JP", sans-serif;
    border: none;
    margin: auto;
    margin-left: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
  }

  .top .right-side {
    position: relative;
    width: 300px;
    height: 241px;

    /* background-image: url("/assets/Group\ 125521.png");
    background-repeat: no-repeat;
    background-size: cover; */

    right: 0;
  }
  .top .right-side img {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 241px;
  }
  .section-1 .middle {
    position: relative;
    margin-top: 37px;
    width: 707px;
    height: 72px;
  }
  .section-1 .middle p span {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
    display: block;
  }
  .section-1 .middle p {
    font-family: "Noto Sans JP", sans-serif;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
  }
  .section-1 .bottom {
    width: 100%;
    height: 73px;

    position: relative;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .section-1 .bottom .list {
    position: relative;
    width: 100%;
    border: none;
    margin: 0;
  }
  .bottom .list .nav-items {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    margin: 0;
  }
  .bottom .list .nav-items .list-block {
    height: 73px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: none;
    margin: 0;
    box-sizing: border-box;
  }
  .bottom .list .nav-items .list-block a {
    position: relative;
    height: 40px;
    padding: auto 12px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    display: flex;
    align-items: center;
    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
  }
  .bottom .list .nav-items .list-block a span {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    display: flex;
    align-items: center;
    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;

    height: fit-content;
    width: fit-content;
    border: none;
    /* identical to box height, or 24px */

    letter-spacing: 0.08em;
    margin: auto;
    margin-right: 0;
    margin-left: 0;
    margin-left: 12px;
    margin-right: 6px;

    /* Kon */

    color: #373f66;
  }
  .bottom .list .nav-items .list-block label {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
  }
  .bottom .list .nav-items .list-block a img {
    position: relative;
    height: fit-content;
    width: fit-content;
    margin: auto 0;

    margin-right: 10px;

    border: none;
  }
  .bottom .list .nav-items .list-block .search-btn {
    position: relative;
    width: 134px;
    height: 40px;
    border: none;
    display: flex;
    top: 0;
    margin-top: 33px;

    right: 0;

    background: #4ac0b1;
    border-radius: 5px;
    padding: 0;
  }
  .bottom .list .nav-items .search-btn img {
    position: absolute;
    top: 5px;
    left: 0;
    left: 12px;
    height: fit-content;
    width: fit-content;
    margin: auto 0;

    border: none;
  }
  .bottom .list .nav-items .search-btn span {
    position: absolute;
    height: fit-content;
    width: fit-content;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    letter-spacing: 0.08em;
    top: 0;
    left: 0;

    margin-left: 50px;
    margin-top: 8px;

    /* White */

    color: #ffffff;
  }
  .section-1 hr {
    display: none;
    border: none;
  }

  .section-2 {
    position: relative;

    height: fit-content;
    margin-top: 40px;
    margin-bottom: 0;
  }
  .section-2 .top-menu {
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section-2 .left-item {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto 0;
  }
  .section-2 .right-item {
    position: relative;

    height: fit-content;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section-2 .top-menu .left-item img {
    position: relative;
    height: fit-content;
    width: fit-content;
    left: 0;
    margin: auto 0;
    margin-right: 20px;
    width: 30px;
    height: 30px;
  }
  .section-2 .top-menu .left-item .note {
    font-family: "Noto Sans JP", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: #373f66;
    height: 36px;
    width: 514px;
  }

  .section-2 .right-item label {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    letter-spacing: 0.08em;
    margin: auto 0;

    /* Kon */

    color: #373f66;
  }
  .section-2 .top-menu .right-item a {
    position: relative;
    padding: 11px 20px;
    top: 0;
    bottom: 0;
    margin-bottom: 0;
    text-decoration: none;

    background: #ffffff;
    box-sizing: border-box;
    /* Green */

    border: 1px solid #4ac0b1;

    border-radius: 5px;
    margin-left: 30px;
  }
  .section-2 .top-menu .right-item a span {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    text-align: right;
    letter-spacing: 0.08em;
    margin: auto 0;

    /* Kon */

    color: #373f66;
  }
  .section-2 .top-menu .right-item a img {
    position: relative;
    top: 3px;
    height: 16px;
    width: 16px;

    margin: auto 0;
    margin-left: 10px;
  }

  .section-2 .content-menu {
    width: 100%;
    height: fit-content;

    margin-top: 0;
    margin-top: 40px;
    border: none;
  }
  .section-2 .content-menu .articles {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    margin: 0;
  }

  .section-2 .col-4 {
    display: none;
  }
  .section-2 .col-1,
  .section-2 .col-2,
  .section-2 .col-3 {
    width: 288px;
    height: 3220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
  }
  .item-11,
  .item-12,
  .item-13 {
    display: none;
  }

  .section-2 .articles .item {
    width: 288px;

    height: 304px;
    border: none;
    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
  }
  .section-2 .articles .item .content {
    width: 248px;
    margin: auto;
    height: 264px;
    border: none;
    margin-top: 20px;
  }
  .section-2 .articles .item .content .msg {
    height: 35;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 18px 0;
    border: none;
  }
  .section-2 .articles .item .content .msg img {
    height: 30px;
    width: 30px;
    margin: auto 0;
    margin-right: 15px;
  }
  .section-2 .articles .item .content .msg label {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.08em;

    /* Kon */
    border: none;

    color: #373f66;
  }
  .section-2 .articles .item .content .msg label span {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.08em;
    border: none;

    /* Kon */

    color: #373f66;
  }
  .section-2 .articles .item .content .bottm {
    position: relative;
    height: 51px;
    width: 100%;
    border-top: 1px solid #373f66;
    margin-top: 0;
    margin-top: 20px;
  }
  .section-2 .articles .item .content .bottm label {
    position: absolute;
    bottom: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
  }
  .section-2 .pagination {
    position: relative;
    margin: 0 auto;
    width: 469px;
    height: 30px;
    margin-top: 20px;
  }
  .section-2 .pagination .page-list {
    width: 460px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section-2 .pagination .page-list img {
    position: relative;
    top: 5px;
  }
  .section-2 .pagination .page-list li {
    position: relative;
    display: flex;
    justify-content: center;
    top: 5px;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;

    border: none;
    border-radius: 50%;
  }

  .section-2 .pagination .page-list li a {
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
    top: 3px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
  }
  .section-2 .page-list #middle {
    position: relative;
    top: 0;
    margin: 0;
    bottom: 40px;
  }
  .section-2 .page-list #middle-list {
    position: relative;
    top: 0;
    margin: 0;
    top: 5px;
  }
  .pagination .page-list .active-1 {
    background-color: #4ac0b0;
  }
  .pagination .page-list li a.active {
    color: white;
  }

  /* footer */

  #footer {
    height: 940px;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    margin-top: 120px;
  }
  #footer .main-content-1 {
    display: block;
  }

  .footer-content .main-content-1 {
    width: 65%;
  }
  .footer-content .main-content-1 label {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.08em;

    color: #ffffff;
  }
  .row-1,
  .row-2,
  .row-3 {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .col-1,
  .col-2 {
    position: relative;
    float: left;
    box-sizing: border-box;
  }
  .col-1 {
    width: 50%;
  }
  .col-2 {
    width: 50%;
  }
  #footer .footer-content ul {
    margin-top: 20px;
    top: 0;
  }
  #footer .footer-content ul li {
    margin-top: 0;
    margin-bottom: 10px;
    top: 0;
  }
  #footer .footer-content ul li a {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    letter-spacing: 0.08em;
  }

  #footer .bottom-footer {
    position: static;
    margin-top: 110px;
  }
  #footer .bottom-footer .social {
    width: 130px;

    margin-right: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #footer .bottom-footer .social img {
    margin: 0;
  }
  #footer .footer-content .side-content {
    position: absolute;
    right: 0;
    top: 0;
    width: 33%;
  }

  .bottom-bar {
    height: 589px;
  }
}

@media (min-width: 1367px) {
  body {
    width: 100%;
    overflow-x: clip;
    margin: 0 auto;
  }
  #mobile {
    display: none;
  }
  .container {
    width: 1180px;
    margin: 0 auto;
  }
  .header {
    margin-top: 30px;
    height: 40px;
  }
  .header .nav .nav-items {
    width: 761px;
    height: fit-content;
    padding: 0;
    left: 0;
    margin-left: 86px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header .nav .nav-items li {
    display: inline-block;
    margin: 0;
    left: 0;
    margin-left: 0;
    color: #373f6642;
  }
  .header .nav .nav-items li a {
    font-size: 12px;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
    color: #373f66;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.08em;
  }
  .header .nav .nav-items li img {
    position: relative;
    margin-left: 4px;
    height: 20px;
    width: 20px;
  }
  .header .nav .frame2 {
    position: relative;
    bottom: 6px;
  }
  .header .nav .frame6 {
    position: relative;
    bottom: 6px;
  }
  .header .nav-btn {
    width: fit-content;
    padding-left: 0;
    float: right;
    margin: 0;
    top: 0;
  }
  .header .nav-btn1 {
    width: 130px;
    height: 40px;

    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 53px;
    margin-right: 20px;
    color: #373f66;
  }

  .header .nav-btn2 {
    width: 130px;
    height: 40px;
    font-weight: 700;
    background: #4ac0b1;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 12px;
    right: 0;
    color: #ffffff;
  }

  #footer {
    position: relative;

    top: 0;
    height: 658px;
    background-size: cover;
    background-position: center center;
    border-radius: 15px;
  }
  .row-1,
  .row-2 {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #footer .footer-content ul {
    margin-top: 20px;
    top: 0;
  }
  #footer .footer-content ul li {
    margin-top: 0;
    margin-bottom: 10px;
    top: 0;
  }
  #footer .footer-content .main-content label {
    font-size: 16px;
  }
  #footer .footer-content ul li a {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    letter-spacing: 0.08em;
  }
  #footer .side-content .top-bar {
    position: relative;
    margin-bottom: 25px;
  }
  #footer .side-content .top-bar {
    position: relative;
  }
  #footer .side-content .top-bar .fb-btn {
    position: absolute;
    background-color: #e2edfe;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    top: 5%;
    left: 70%;
  }
  #footer .side-content .top-bar .learn-btn {
    position: absolute;
    background-color: #e2edfe;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    top: 65%;
    left: 70%;
  }
  #footer .side-content .top-bar .logo .label-2 {
    font-size: 11px;
    width: 58%;
  }
  #footer .bottom-footer {
    position: relative;
    top: 35px;
  }
  #footer .bottom-footer .social {
    width: 130px;

    margin-right: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #footer .bottom-footer .social img {
    margin: 0;
  }
}
