@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&family=Sora:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Sora:wght@600&display=swap");
:root {
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --border: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Sora", sans-serif;
  font-weight: 300;
}
body {
  /* News */

  /* Off White */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f9f9f9;
}

.checkbox {
  visibility: hidden;
}
.main-content-1 {
  display: none;
}
#col-3-hide {
  display: none;
}
#image-raw-1 {
  display: none;
}
#check {
  display: none;
}
.check-drop {
  display: none;
}
footer .footer-content .main-content .drop {
  display: none;
}
a {
  text-decoration: none;
  color: #373f66;
}
.clear {
  clear: both;
}
.header .login {
  display: none;
}
.container {
  position: relative;
  width: 1180px;
}
.header {
  width: 100%;
  margin-top: 30px;
  height: 40px;
}
.header .logo {
  position: absolute;
  background-image: url("/assets/image\ 49.png");
  width: 26px;
  height: 26px;
  top: 18%;
  bottom: 18%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  left: 0;
}

.header .nav .nav-items {
  position: absolute;
  margin: auto;
  top: 30%;
  bottom: 20%;
  left: 7.37%;
  right: 22.34%;
}
.header .nav .nav-items li {
  display: inline-block;
  margin: auto;
  margin: 0px 10px;
  color: #373f66;
}
.header .nav .nav-items li a {
  font-size: 12px;
}

.header .nav .nav-items li img {
  margin-left: 3px;
}
.header .nav-btn {
  position: absolute;
  right: 0;
  top: 4px;
}
.header .nav-btn1 {
  width: 130px;
  height: 40px;

  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 12px;
  margin-right: 20px;
  border: none;
}

.header .nav-btn2 {
  width: 130px;
  height: 40px;
  background: #4ac0b1;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 12px;
  border: none;
}

/* section-1 */

.section-1 {
  margin-bottom: 600px;
}
.section-1 .main-bar {
  width: 1180px;
  height: 594px;
  margin-top: 0;
  top: 0;
}
.section-1 .main-bar .title {
  position: absolute;
  width: 275px;
  height: 131px;
  top: 60px;

  left: 0;
}
.section-1 .main-bar .title label.title_name {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;

  color: #373f66;
}
.section-1 .main-bar .title img {
  width: 122px;
  height: 68px;
  margin-left: 121px;
}
.section-1 .main-bar .nav-btns {
  display: none;
}

.section-1 .main-bar .slide-section {
  display: none;
}

.section-1 .main-bar .content {
  background-color: #ffffff;
  width: 100%;
  height: 594px;

  left: 0;
  border-radius: 15px;
}
.section-1 .content .carousel {
  position: relative;
  width: 700px;
  height: 400px;
  border-radius: 15px;
  margin: 0;
  padding: 0;
}
.section-1 .content .carousel .carousel-inner {
  position: relative;
  width: 700px;
  height: 400px;
  border-radius: 15px;
  margin: 0;
  padding: 0;
}
.section-1 .content .carousel .carousel-item img {
  position: relative;
  top: 4px;
  height: 400px;
  width: 700px;
}
/* .carousel-control-prev {
  position: absolute;
  background-image: url("/assets/Group\ 125921.png");
  background-repeat: no-repeat;
  left: -4px;
  top: 170px;
}
.carousel-control-next {
  position: absolute;
  background-image: url("/assets/Group\ 125920.png");
  background-repeat: no-repeat;

  top: 170px;
  left: 665px;
} */
.section-1 .content h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #373f66;
  margin: 20px 20px;
}
.section-1 .content .read-more {
  margin: 22px 0 10px 22px;
  display: flex;
  flex-direction: row;
  color: #373f66;
  width: 116px;
  height: 25px;

  padding: 0;

  border-bottom: 1px #373f66d5 solid;
}

.section-1 .content .read-more img {
  margin-left: 12px;
  padding: 0;
}
.section-1 .content .read-more p {
  font-family: "Noto Sans JP", sans-serif;
  color: #373f66;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
}
.section-1 .content .date p {
  font-family: Sora, sans-serif;

  font-size: 16px;
  line-height: 150%;
  color: #444444;
  opacity: 0.6;
  margin: 0 0 22px 20px;
}
.section-1 .main-bar .content .date {
  margin-bottom: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}
.section-1 .main-bar .content .date img {
  height: 24px;
  width: 24px;
}
.section-1 .side-bar {
  position: absolute;
  right: 0;
  width: 420px;
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  height: 594px;
}

.side-bar .content-box {
  position: relative;
  display: flex;

  width: 360px;
  height: 104px;
  /* border: 1px #38f9d7 solid; */
  border-width: 1px;
  border-style: solid inset;
  border-image: linear-gradient(0.6turn, #4ac0b1 0%, rgb(255, 255, 255) 60%) 0.5;

  background: #f9f9f9;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 5px;
}
.side-bar .content-box img {
  margin: 0;
}
.side-bar .content-box h4 {
  position: absolute;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;

  width: 135px;
  top: 20px;
  font-weight: bold;
  font-size: 12px;
  left: 200px;

  /* or 18px */

  /* Kon */

  color: #373f66;
}
.side-bar .content-box .read-more {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  width: 135px;
  left: 20px;

  top: 70px;

  /* identical to box height, or 18px */

  letter-spacing: 0.08em;

  /* Kon */

  color: #373f66;

  opacity: 0.6;
}
.side-bar .content-box .read-more {
  font-size: 12px;
}
.side-bar .content-box .read-more .arrow {
  flex-direction: row;
  background-image: url("/assets/20px/right-arrow.png");
  width: 20px;
  height: 20px;
}

/* section-2 */

.section-2 {
  position: relative;
  top: 360px;
}

.section-2 .articles {
  position: relative;
}
.section-2 .articles .title {
  position: absolute;
  left: 0;
  bottom: 60px;
  padding: 4px 0;
}
.section-2 .articles .title .icon {
  position: absolute;
  left: 0;
  top: 6;
  width: 20px;
  height: 45px;
  background-repeat: no-repeat;
  background-image: url("/assets/Articles/Rectangle\ 363.png");
}
.section-2 .articles .title h3 {
  font-weight: 600;
  font-size: 32px;

  margin-left: 20px;
  /* identical to box height, or 48px */

  letter-spacing: 0.08em;

  /* Kon */

  color: #373f66;
}
.section-2 .pagination-desk {
  position: absolute;
  margin-top: 1200px;
}
.section-2 .header {
  position: relative;
  top: 60px;
  background: #ffffff;
  border-radius: 15px;
  height: 80px;
  width: 100%;
  z-index: 0;
}

.section-2 .header .nav-items {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  left: 92px;
  right: 92px;
  top: 28px;
  bottom: 28px;
  box-sizing: content-box;
  z-index: 1;
}
.section-2 .header .nav-items li {
  float: left;
}
.section-2 hr {
  position: absolute;

  height: 1px;
  width: 98%;
  color: rgb(0, 0, 0.2);
  top: 124px;
  z-index: 0;
  left: 12px;
}
.section-2 .header .nav-items li a {
  padding: 25px 15px;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;

  /* identical to box height, or 24px */

  letter-spacing: 0.08em;
  border-radius: 1px;
  transition: 0.25s;

  /* Green */
}
.section-2 .header .nav-items li a:hover {
  /* Green */
  color: #4ac0b1;
  border-bottom: 4px #4ac0b1 solid;
}

.active {
  color: #4ac0b1;
  border-bottom: 4px #4ac0b1 solid;
}

/* Articles */
.section-2 .article-content {
  position: absolute;
  top: 200;
  width: 100%;
  margin: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.section-2 .article-content .col-1 {
  width: 47.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-2 .article-content .col-2 {
  width: 47.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .section-2 .article-content .col-3 {
  width: 47.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.section-2 .pagination-mobile {
  display: none;
}
.article-content .article-item {
  position: relative;
  width: 100%;
  height: 180px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}
/* .article-content .article-item img {
  width: 60%;
    height: 180px;

} */

.article-content .content {
  position: absolute;
  left: 345px;
  width: 38%;
  bottom: 20px;
}
.article-content .content .title h4 {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;

  /* or 24px */

  letter-spacing: 0.08em;

  /* Kon */

  color: #373f66;
}
.article-content .content .read-more {
  border-bottom: 1px #373f66 solid;
  width: 90px;
  padding: 0;
}
.article-content .content .read-more label {
  font-family: "Noto Sans JP", sans-serif;

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  letter-spacing: 0.08em;

  /* Kon */

  color: #373f66;
}
.article-content .content .date label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  letter-spacing: 0.08em;

  /* Kon */

  color: #373f66;

  opacity: 0.6;
  margin-top: 10px;
}
.article-content .content .share {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("/assets/30px/share.png");
  right: 10px;
  bottom: 0;
}

/* pagination */

.section-2 .pagination {
  width: 100%;
  margin-bottom: 200px;
}
.pagination .page-list {
  width: 60%;
  margin: auto;

  text-align: center;
}
.pagination .page-list li {
  display: inline-block;
  padding: 13px 20px;
  margin: 5px;
  border-radius: 50%;
}
.pagination .page-list a {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;

  /* identical to box height, or 24px */

  letter-spacing: 0.08em;

  box-sizing: border-box;
  /* Kon */

  color: #373f66;
}
.pagination .page-list .active-1 {
  background-color: #4ac0b1;

  color: white;
}
.pagination .page-list a.active {
  color: white;
}
/* .pagination .page-list li:hover {
  background-color: #4ac0b1;
  color: white;
} */
#middle {
  letter-spacing: 0.2em;
  font-size: 24px;
}

/* section3 */

.section-3 {
  margin-top: 1800px;
  margin-bottom: 300px;
}

.section-3 .popular-articles {
  position: relative;
}

.section-3 .popular-articles .title {
  position: relative;
  left: 0;
  bottom: 60px;
  padding: 4px 0;
  top: 10px;
}
.section-3 .popular-articles .title .icon {
  position: absolute;
  left: 0;
  top: 6px;
  width: 20px;
  height: 45px;
  background-repeat: no-repeat;
  background-image: url("/assets/Articles/Rectangle\ 363.png");
}
.section-3 .popular-articles .title h3 {
  font-weight: 600;
  font-size: 32px;

  margin-left: 20px;
  /* identical to box height, or 48px */

  letter-spacing: 0.08em;

  /* Kon */

  color: #373f66;
}
.popular-articles .slide-section {
  position: relative;

  width: 105%;
  overflow-x: hidden;
  overflow-y: clip;
}
.popular-articles #slide-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 0.5s;
}
.popular-articles .slide-item {
  position: relative;

  width: 350px;
  height: 366px;
  /* White */

  background: #ffffff;
  border-radius: 15px;
}
.popular-articles .slide-item .content {
  width: 310px;
}

.popular-articles .slide-item .content .desc p {
  width: 310px;
  height: 72px;
  margin: 20px 20px 72px 20px;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  letter-spacing: 0.08em;

  /* Kon */

  color: #373f66;
  /* White */
}

.popular-articles .slide-item .other .date label.date {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: Sora;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  letter-spacing: 0.08em;

  /* Kon */

  color: #373f66;

  opacity: 0.6;
}
.popular-articles .slide-item .other .read-more {
  position: absolute;
  bottom: 22px;
  right: 20px;
  display: flex;
  flex-direction: row;
  width: 92px;
  border-bottom: 1px #373f66 solid;
  padding: 0;
  height: 18px;
}
.popular-articles .slide-item .other .read-more label {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  letter-spacing: 0.08em;
  margin: auto 0;

  /* Kon */

  color: #373f66;
}
.popular-articles .slide-item .other .read-more .arrow {
  background-image: url("/assets/20px/right-arrow.png");
  height: 20px;
  width: 20px;
  margin-left: 5px;
  margin-right: 0;
}

.popular-articles .nav-btns {
  position: absolute;
  right: 0px;
  top: 0px;
}

.popular-articles .nav-btns #prev {
  background-image: url("/assets/nav/Group\ 124404.png");
  width: 50px;
  height: 50px;
  margin: 0 15px;
  border: none;
  background-color: transparent;
}
.popular-articles .nav-btns #next {
  background-image: url("/assets/nav/Group\ 124469.png");
  width: 50px;
  height: 50px;
  margin: 0 15px;
  border: none;
  background-color: transparent;
}
.popular-articles .nav-btns-mobile {
  display: none;
}
/* section-4 */

.section-4 {
  margin-top: 60px;
  margin-bottom: 200px;
  position: relative;
}

.section-4 .title {
  position: relative;
  left: 0;
  bottom: 60px;
  padding: 4px 0;
}
.section-4 .title .icon {
  position: absolute;
  left: 0;
  top: 6px;
  width: 20px;
  height: 45px;
  background-repeat: no-repeat;
  background-image: url("/assets/Articles/Rectangle\ 363.png");
}
.section-4 .title h3 {
  font-weight: 600;
  font-size: 32px;

  margin-left: 20px;
  /* identical to box height, or 48px */

  letter-spacing: 0.08em;

  /* Kon */

  color: #373f66;
}

.section-4 .image-raw {
  width: 100%;

  display: flex;
  flex-direction: raw;
  overflow: hidden;
  justify-content: space-between;
}
.section-4 .img-raw .pic {
  position: relative;

  width: 350px;
  height: 366px;
  /* White */

  background: #ffffff;
  border-radius: 15px;
}

/* footer */

#footer {
  position: relative;

  width: 100%;
  height: 650px;
  margin: auto;

  background-image: url("/assets/Footer/Mask\ Group.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
#footer .footer-content {
  position: relative;
  top: 50px;
}
.footer-content .main-content {
  width: 75%;
}
.row-1,
.row-2 {
  margin: 10px 0;
}

#footer .footer-content li a {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;

  font-size: 12px;
  line-height: 150%;
  text-decoration: none;
  font-weight: 100;
  /* identical to box height, or 18px */

  letter-spacing: 0.1em;

  color: #ffffff;
}
#footer .footer-content li {
  margin-bottom: 3px;
  list-style: none;

  left: 0;
}
#footer .footer-content label {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  letter-spacing: 0.08em;

  color: #ffffff;
  margin-bottom: 20px;
}

#footer .footer-content ul {
  position: relative;

  list-style: none;
  left: 0;
  padding: 0;
}

.footer-content .main-content .row-1 {
  position: relative;
}
.col-1,
.col-2,
.col-3 {
  position: relative;
  float: left;
  box-sizing: border-box;
}
.col-1 {
  width: 30%;
}
.col-2 {
  width: 40%;
}

.col-3 {
  width: 30%;
}

#footer .bottom-footer {
  position: absolute;
  top: 535px;
  align-items: center;
  height: 100px;
  width: 100%;
  border-top: 1px solid #ffffff;
}
#footer .bottom-footer .ft-content {
  display: flex;

  flex-direction: row;
  justify-content: space-between;

  padding: 30px 0;
}
.ft-content .social {
  margin: auto 10px;
}
.ft-content .social img {
  margin: 0 10px;
}

#footer .footer-content .side-content {
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
}

.side-content .top-bar .logo {
  background-image: url("/assets/Footer/image\ 71.png");
  height: 109px;

  background-position: center center;
}
.side-content .top-bar .logo-cont {
  display: flex;
  flex-direction: row;
  width: 230px;
}
.side-content .top-bar .logo img {
  height: 40px;
  width: 40px;
  margin: 10px 10px;
}
.side-content .top-bar .logo .label-2 {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 100;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300px;

  letter-spacing: 0.05px;

  padding: 0;
  /* or 18px */

  color: #f5f5f5;
}
.side-content .top-bar .logo span {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */

  color: #f5f5f5;
}

.side-content .top-bar button.fb-btn {
  position: relative;
  background-image: url("/assets/Footer/Group\ 125035.png");
  width: 80px;
  height: 30px;
  left: 210px;
  bottom: 100px;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
}
.side-content .top-bar button.learn-btn {
  position: relative;
  background-image: url("/assets/Footer/Group\ 125031.png");
  width: 80px;
  height: 30px;
  left: 125px;
  bottom: 40px;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
}

.bottom-bar {
  position: relative;
  height: 292px;
  width: 100%;
  background: #e2edfe;
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 15px;
}

.bottom-bar .top-img {
  background-image: url("/assets/Footer/image\ 70.png");
  width: 100%;
  height: 159px;
}

.bottom-bar .title-3 {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}

.bottom-bar .logo {
  float: left;
  display: flex;
  flex-direction: row;
  width: 90%;

  margin: 10px 10px 2px 10px;
  box-sizing: border-box;
  justify-content: space-between;
}
.bottom-bar .logo img {
  height: 25px;
  width: 25px;
  margin: auto 0;
}

.bottom-bar .logo .fb-logo img {
  width: 40px;
  height: 40px;
  margin: auto 0;
}

.bottom-bar .content-bar {
  margin: 0 10px;
}
.bottom-bar .content-bar .title-4 {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  font-weight: 600;

  /* or 18px */

  color: #000000;
}
.bottom-bar .content-bar .cont-data {
  margin-top: 15px;
  /* or 18px */
}
.cont-data span {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  font-weight: 480;
  color: #000000;
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
/* Portrait */

@media (max-device-width: 1023.5px) {
  body {
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden;

    /* background-color: #f9f9f9; */
  }

  .container {
    width: 80%;
    left: 0;

    margin: 16px auto;
    padding: 0;
  }
  header {
    padding: 0;
    margin: 0;
    top: 16px;
  }
  .header .logo {
    position: absolute;
    width: 28px;
    height: 28px;
    margin: 0 0;
    top: 0;
  }
  header .header {
    width: 100%;
    margin: 0;
    padding: 0;
    height: fit-content;
    overflow: hidden;
  }
  .header .nav {
    background-color: transparent;
    position: sticky;
    margin-top: 50px;

    height: 0;

    width: 100%;
    box-shadow: 0 15px 25px 0.1;

    border-radius: 10px;
    transition: 1s ease-out;
    opacity: 0;
  }

  .header .nav ul.nav-items {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.932);
    width: 100%;
    margin: auto auto;
    left: 0;
  }
  .header .nav ul.nav-items li {
    margin: 25px 70px;
    display: block;
  }
  .header .nav ul.nav-items li a:hover {
    color: #43e97b;
  }
  .header .nav-btn {
    display: none;
  }
  .header .checkbox {
    position: relative;
    visibility: visible;
    padding: 0;

    float: right;
  }

  /* Section1 */

  .section-1 {
    top: 0;
    margin-bottom: 500px;
  }

  .section-1 .main-bar .slide-section {
    display: block;
    position: absolute;
    top: 180px;
    height: 290px;
    width: 110%;
    overflow-y: clip;
    overflow-x: hidden;
  }
  .section-1 .main-bar .slide-section #slide-bar1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.5s;

    width: 1060px;
    height: 290px;
  }

  .section-1 .main-bar .slide-item {
    width: 255px;
    height: 290px;
  }
  .section-1 .main-bar .mobile-content {
    position: relative;

    background-color: white;
    width: 255px;
    height: 290px;

    border-radius: 15px;
  }
  .section-1 .mobile-content .carousel {
    position: relative;
    width: 255px;
    height: 140px;
    border-radius: 15px;
    margin: 0;
    padding: 0;
  }
  .section-1 .mobile-content .carousel .carousel-inner {
    position: relative;
    width: 255px;
    height: 150px;
    border-radius: 15px;
    margin: 0;
    padding: 0;
  }
  .section-1 .mobile-content .carousel .carousel-item img {
    position: relative;
    background-size: cover;
    height: 150px;
    width: 255px;
  }
  .section-1 .mobile-content h3 {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    color: #373f66;
    margin: 6px 10px;
  }
  .section-1 .mobile-content .read-more {
    margin: 10px 0 10px 10px;
    display: flex;
    flex-direction: row;
    color: #373f66;
    width: 90px;
    height: 20px;

    padding: 0;

    border-bottom: 1px #373f66d5 solid;
  }

  .section-1 .mobile-content .read-more img {
    width: 20px;
    height: 20px;

    margin-left: 5px;
    padding: 0;
  }
  .section-1 .mobile-content .read-more p {
    font-family: "Noto Sans JP", sans-serif;
    color: #373f66;
    font-size: 12px;
    padding: 0;
  }
  .section-1 .mobile-content .date p {
    font-family: Sora, sans-serif;
    position: relative;
    font-size: 12px;
    line-height: 150%;
    color: #444444;
    opacity: 0.6;
    top: 5px;
    left: 10px;
  }
  .section-1 .mobile-content .share img {
    position: relative;
    width: 20px;
    height: 20px;
    left: 225px;
    bottom: 30px;
  }
  .section-1 .main-bar .nav-btns {
    display: block;
    position: absolute;
    right: 0;
    top: 116px;
  }

  .main-bar .nav-btns #prev1 {
    background-image: url("/assets/nav/Group\ 124404.png");
    width: 26px;
    height: 26px;
    margin: 0 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    background-color: transparent;
  }
  .main-bar .nav-btns #next1 {
    background-image: url("/assets/nav/Group\ 124469.png");
    width: 26px;
    height: 26px;
    margin: 0 5px;
    border: none;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .section-1 .main-bar .title label.title_name {
    font-size: 42px;
  }
  .section-1 .main-bar .title img {
    width: 77px;
    height: 44px;
    margin-left: 90px;
  }
  .section-1 .main-bar .content {
    display: none;
  }
  .section-1 .side-bar {
    display: none;
  }

  /* //section2 */

  .section-2 {
    top: 100px;
  }

  .section-2 .title {
    bottom: 32;
  }

  .section-2 .articles .title h3 {
    font-size: 20px;
    left: 1px;
  }
  .section-2 .articles .title .icon {
    position: absolute;
    left: 0;
    top: 5px;
    background-size: cover;
    width: 8px;
    height: 20px;
    background-position: center center;
  }
  .section-2 .header {
    top: 10px;
    height: 50px;
    overflow-x: scroll;
    overflow-y: clip;
  }
  .section-2 hr {
    bottom: 55;
    margin: auto 0;
    color: rgb(0, 0, 0.1);
    width: 93%;
  }
  .section-2 .header::-webkit-scrollbar {
    display: none;
  }
  .section-2 .header .nav-items {
    margin: auto 0;
    height: fit-content;
    width: fit-content;

    left: 0;
  }
  .section-2 .header .nav-items li {
    /* identical to box height, or 24px */

    margin: auto 10px;
    width: max-content;
    text-align: center;

    /* Green */
  }
  .section-2 .header .nav-items li a {
    font-size: 12px;
    padding-bottom: 13px;
    padding-right: 4px;
    padding-left: 4px;

    /* identical to box height, or 24px */

    /* Green */
  }

  #hide-num {
    display: none;
  }
  .section-2 .pagination {
    display: block;
    width: 100%;
    top: 50px;
  }

  .pagination .page-list {
    width: 100%;
    margin: auto;

    padding: 0;
    text-align: center;
  }
  .pagination .page-list li {
    display: inline-block;
    padding: 3px 9px;
    margin: 0.5px;
    border-radius: 50%;
  }
  .pagination .page-list a {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;

    /* identical to box height, or 24px */

    letter-spacing: 0.001em;

    box-sizing: border-box;
    /* Kon */

    color: #373f66;
  }

  .section-2 .pagination-mobile {
    position: absolute;

    top: 80px;
  }
  .section-2 .pagination-desk {
    position: absolute;
    margin-top: 1840px;
  }
  .section-2 .article-content {
    top: 120px;
    margin-bottom: 100px;
  }
  .section-2 .article-content .col-2 {
    display: none;
  }
  .section-2 .article-content .col-1 {
    width: 100%;
  }
  .article-content .article-item {
    position: relative;
    width: 100%;
    height: 325px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
  }
  .article-content .content {
    position: absolute;
    left: 25px;
    width: 90%;
    bottom: 15px;
  }
  .article-content .article-item .pic img {
    width: 100%;
  }
  .article-content .content .title h4 {
    font-size: 14px;
  }
  .article-content .content .read-more {
    border-bottom: 1px #373f66 solid;
    width: 90px;
    padding: 0;
  }

  .article-content .content .date label {
    font-size: 12px;
  }
  .article-content .content .share {
    width: 16px;
    height: 16px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-3 {
    margin-top: 2100px;
    margin-bottom: 190px;
  }
  .section-3 .popular-articles .title {
    position: relative;
    left: 0;
    bottom: 32px;
    padding: 4px 0;
  }
  .section-3 .popular-articles .slide-section {
    width: 110%;
    overflow-x: hidden;
    overflow-y: clip;
  }
  .section-3 .popular-articles .title .icon {
    width: 8px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 5px;
  }
  .section-3 .popular-articles .title h3 {
    font-size: 20px;
  }
  .popular-articles .nav-btns {
    position: absolute;
    right: 0px;
    top: 12px;
  }

  .popular-articles .nav-btns #prev {
    height: 26px;
    width: 26px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 5px;
  }
  .popular-articles .nav-btns #next {
    height: 26px;
    width: 26px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 5px;
  }
  .popular-articles .slide-item {
    position: relative;

    width: 255px;
    height: 270px;
    /* White */

    background: #ffffff;
    border-radius: 15px;
  }
  .popular-articles .slide-item .pic img {
    width: 255px;

    /* White */
  }
  .popular-articles .slide-item .content .desc {
    width: 255px;
    margin-top: 14px;
  }
  .popular-articles .slide-item .content .desc p {
    font-size: 12px;
    line-height: 150%;

    width: 93%;
    height: fit-content;
    margin: 6px auto;
  }
  .popular-articles .slide-item .content .read-more {
    border: none;
    left: 218px;
  }
  .popular-articles .slide-item .content .read-more #rm-mobile {
    display: none;
  }
  .popular-articles .slide-item .content .other .date label {
    font-size: 12px;
    left: 10;
  }

  .popular-articles .slide-section {
    width: 1360px;
    top: 60px;
    overflow-x: hidden;
  }
  .popular-articles .slide-bar-mobile {
    width: 1360px;
  }

  .section-4 {
    top: 0;
  }

  .section-4 .title {
    bottom: 32;
  }
  .section-4 .title h3 {
    font-size: 20px;
    left: 1px;
  }
  .section-4 .title .icon {
    position: absolute;
    left: 0;
    top: 5px;
    background-size: cover;
    width: 8px;
    height: 20px;
    background-position: center center;
  }

  .section-4 .image-raw {
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
  }
  .section-4 .image-raw .pic img {
    width: 100%;
  }

  /* footer */
  #footer {
    width: 100%;
    height: fit-content;
    top: 0;
    background-size: cover;
    border-radius: 15px;
    background-image: url("/assets/Footer/Mask\ group1.png");

    background-repeat: no-repeat;
    background-position: center center;
    background-color: #373f66;
  }
  #footer .container {
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
  }

  .footer-content {
    top: 0;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
  }
  footer .footer-content .main-content {
    width: 100%;
    top: 0;
  }

  footer .footer-content .main-content .drop {
    display: block;
    position: relative;
    float: right;
    top: 10px;
  }

  .footer-content .main-content .row-1,
  .footer-content .main-content .row-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #footer .bottom-footer {
    position: relative;
    top: 0;

    margin-top: 100px;
    margin-bottom: 10px;
  }
  #footer .footer-content .side-content {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
  }
  #footer .footer-content .side-content .top-bar .logo .label-2 {
    font-size: 11px;
  }
  #footer .side-content .top-bar .fb-btn {
    left: 70%;
  }
  #footer .side-content .top-bar .learn-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    padding: 0;
    left: 70%;
    top: 15%;
  }

  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
    margin: 15px auto;
  }

  #footer .bottom-footer .ft-content img {
    height: 30px;
    width: 125px;
  }
  #footer .bottom-footer .ft-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .ft-content .social {
    margin: auto 5px;
    width: 114px;
    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .ft-content .social img {
    margin: 0 5px;
  }
  #up,
  #up-1,
  #up-2,
  #up-3,
  #up-4,
  #up-5 {
    display: none;
  }

  .main-content .uld {
    display: none;
    transition: ease-in 0.5s;
  }
}

@media only screen and (min-width: 540px) and (max-width: 1023.5px) {
  .container {
    width: 80%;
  }
  .section-1 .main-bar .slide-item {
    width: fit-content;
    height: fit-content;
  }
  .section-1 .main-bar .slide-section #slide-bar1 {
    width: 1080px;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.5s;
  }

  .section-2 .header .nav-items {
    position: relative;
    bottom: 0;
    top: 12px;
    margin: auto auto;
    height: fit-content;
    width: fit-content;
  }
  .section-2 hr {
    position: absolute;
    bottom: 55;
    margin: auto auto;
    color: rgb(0, 0, 0.1);
    width: 97%;
  }
  .article-content .article-item {
    position: relative;
    width: 80%;
    margin: 25px auto;
    height: max-content;
    padding-bottom: 20px;
  }
  .article-content .content {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;

    height: fit-content;
    top: 10px;

    margin: auto auto;
  }
  .article-content .content .title {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }
  .section-2 .article-content {
    position: relative;
    margin: 0;
    top: 0;
  }
  .section-2 .article-content .col-1 {
    position: relative;
    top: 0;
  }
  .article-content .article-item .pic img {
    position: relative;
  }
  .article-content .content .title h4 {
    position: relative;
  }
  .section-2 .title {
    position: relative;
    top: 20px;
    bottom: 10px;
    margin: 0;
  }
  .section-2 .header {
    position: relative;
    top: 100px;
    margin: 0;
  }
  .section-2 .pagination-mobile {
    position: relative;
    top: 0;
    margin-bottom: 20px;
    margin-top: 120px;
  }
  .section-2 .pagination-desk {
    position: relative;
    top: 0;
    bottom: 0;
    margin: 0;
  }
  .section-3 {
    position: relative;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    margin: 200px auto;
  }
  .section-4 .image-raw {
    position: relative;
    width: 70%;
    margin: 20px auto;
    height: fit-content;
  }
  .section-4 .image-raw .pic img {
    margin: 20px auto;
  }

  #footer .footer-content .side-content {
    position: relative;
    width: 350px;
    margin: auto;
  }
  #footer .footer-content .side-content .bottom-bar .top-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366.5px) {
  body {
    margin: 0;
    padding: 0;
    border: none;

    overflow-x: hidden;
  }

  #image-raw {
    display: none;
  }

  .container {
    width: 904px;
    margin: 0 auto;
  }

  .main-content {
    display: none;
  }
  .check-drop {
    display: none;
  }
  footer .footer-content .main-content-1 .drop {
    display: none;
  }
  #col-3-hide {
    display: block;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-2 .article-content .hide-item {
    display: none;
  }
  #hide-item-1 {
    display: none;
  }
  /* header */

  .header {
    position: relative;
    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header .nav-btn {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;

    height: fit-content;

    padding: 0;
  }
  .header .nav-items {
    padding: 5px 0;

    margin: auto 0;
    width: 733px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header .login {
    display: block;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: auto 0;
  }
  .header .nav .nav-items li {
    margin: 0;
  }
  .header .nav .nav-items li a {
    font-size: 12px;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
    color: #373f66;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.08em;
  }
  .header .login #login-drop {
    position: relative;
    background-image: url("/assets/Tablet/20px/right-arrow\(no-line\).png");
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    top: 5px;
    color: white;
    margin-left: 10px;
  }

  .header .nav-btn button {
    margin: 3px auto;
  }
  .header .nav .nav-items {
    position: relative;

    left: 0;
    top: 0;
    padding-left: 0;
  }

  /* section1 */
  /* .section-1 .main-bar {
    width: 60%;
    background-color: #38f9d7;
    height: 468px;
  } */

  .section-1 {
    margin: 0;
    top: 0;
    bottom: 0;
  }
  .section-1 .main-bar {
    position: relative;

    width: 100%;
    height: fit-content;
  }
  .section-1 .main-bar .title {
    position: relative;
    top: 0;
    margin: 0;
    top: 63;
  }
  .section-1 .main-bar .title img {
    position: relative;
    width: 122px;
    height: 68px;
    left: 0;
    margin-left: 0;
    left: 153px;
  }
  .section-1 .main-bar .title label {
    font-weight: 700;
  }
  .section-1 .main-bar .content {
    width: 518px;
    position: relative;

    top: 0;
    margin: 0;
    padding: 0;
    margin-top: 85px;
    height: 468px;
    background-color: #ffffff;
  }
  .section-1 .main-bar .content h3 {
    font-size: 18px;
  }
  .section-1 .content .carousel {
    width: 518px;
    height: 296px;
  }
  .section-1 .content .carousel .carousel-inner {
    width: 518px;
    height: 296px;
  }
  .section-1 .content .carousel .carousel-item img {
    width: 100%;
    height: 100%;
    top: 4px;
  }

  .carousel-control-prev {
    background-image: url("/assets/Group\ 125921.png");
    height: 60px;
    width: 30px;
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: none;
  }
  .carousel-control-next {
    background-image: url("/assets/Group\ 125920.png");

    width: 30px;
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: none;
  }
  .prev-next {
    position: absolute;
    width: 518px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 138px;
  }
  .section-1 .side-bar {
    position: absolute;
    margin: 0;
    top: 0;
    top: 217px;
    width: 356px;
    height: 468px;
  }
  .section-1 .side-bar .inner-side {
    position: relative;
    top: 20px;
    margin-bottom: 20px;

    margin: auto auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: fit-content;

    height: 428px;

    box-sizing: border-box;
  }
  .side-bar .content-box {
    position: relative;
    width: 316px;
    height: 92px;
    padding: 0;
  }
  .side-bar .content-box img {
    margin: 0;
    width: 161px;
    height: 92px;
  }
  .side-bar .content-box h4 {
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    top: 12px;

    left: 0;
    left: 173px;
  }

  .section-1 .main-bar .content h3 {
    font-size: 18px;
  }
  .section-1 .content .read-more {
    margin: 0 0 20px 20px;
  }
  .section-1 .content .share {
    position: absolute;
    width: fit-content;
    float: right;
    right: 20;
    bottom: 0;

    padding: 0;
    margin-bottom: 20px;
  }
  .section-1 .content .share img {
    position: static;

    float: right;
  }
  .side-bar .content-box .read-more {
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 131px;

    top: 0;
    right: 0;
    left: 0;
    left: 173px;
    top: 60px;
  }
  .side-bar .content-box .read-more .arrow {
    position: absolute;
    color: #000000;

    opacity: 1;
    right: 0;
    bottom: 0;
    top: 0;
  }
  .side-bar .content-box .read-more p {
    left: 0;
    top: 0;

    font-size: 12px;
  }

  /* .section2 */
  .section-2 {
    position: relative;
    margin: 0;
    top: 0;
    top: 122px;
    bottom: 0;
  }
  .section-2 .head-title {
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    width: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section-2 .head-title .icon {
    background-image: url("/assets/Articles/Rectangle\ 363.png");
    width: 10px;
    height: 30px;
    margin: auto;
    margin-left: 0;

    background-position: center left;
  }
  .section-2 .head-title .title_name {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    left: 20px;
    margin-bottom: 0;
    /* or 48px */

    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
  }

  .section-2 .header {
    margin-top: 0;
    top: 40px;
    padding: 0;
    height: 60px;
    text-align: center;
    z-index: 1;
  }

  .section-2 .header .nav-items li a {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding: 0;
    padding: 21px 8px;

    line-height: 150%;
    /* identical to box height, or 21px */

    letter-spacing: 0.08em;

    /* identical to box height, or 24px */

    /* Green */
  }

  .section-2 .header .nav-items {
    position: relative;
    left: 0;
    margin: 0;
    top: 0;

    width: 745px;
    height: fit-content;
    margin: auto auto;
  }
  .section-2 hr {
    position: relative;
    top: 42;
    margin: auto 0;
    color: rgb(0, 0, 0.1);
    width: 97.5%;
    opacity: 0.4;
  }
  .section-2 .article-content {
    position: relative;
    margin: 0;
    top: 0;
    top: 80px;

    padding: 0;
    height: fit-content;
    background-color: #f9f9f9;
  }

  .section-2 .article-content .article-item {
    margin: 0;
    height: 332px;
    margin-bottom: 20px;
  }
  .article-content .article-item {
    position: relative;
    width: 100%;
    height: 325px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
  }
  .article-content .content {
    position: absolute;
    left: 20px;
    width: 248px;
    margin: auto;
    bottom: 20px;

    height: fit-content;
  }
  .article-content .content .article-item {
    position: relative;
    height: 332px;
    margin: 0;
  }
  .article-content .article-item .pic img {
    width: 100%;
    margin: 0;
  }
  .article-content .content .title h4 {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;

    /* or 21px */

    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    width: 248px;

    /* Kon */

    color: #373f66;
    margin: px auto;
    top: 0;
    left: 0;
    margin-left: 0;
    right: 0;
  }
  .article-content .content .read-more {
    position: relative;
    border-bottom: 1px #373f66 solid;
    width: 92px;
    padding: 0;
    margin-bottom: 12px;

    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .article-content .content .read-more label {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    margin: auto 0;
  }
  .article-content .content .read-more img {
    right: 0;
    margin-left: 74px;
  }

  .article-content .content .date label {
    font-size: 14px;
    font-weight: 400;
  }
  .article-content .content .share {
    width: 18px;
    height: 18px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-2 .article-content .col-1 {
    width: 288px;
  }
  .section-2 .article-content .col-2 {
    width: 288px;
  }
  .section-2 .article-content .col-3 {
    display: block;
    width: 288px;
  }
  .pagination {
    top: 40;
    margin: 0;
  }
  .pagination .page-list {
    width: 600px;
    margin: auto;

    text-align: center;
  }
  .pagination .page-list li {
    margin: auto 3px;
  }
  .pagination .page-list li a {
    letter-spacing: 0.001px;
  }

  /* .section-3 */

  .section-3 .title {
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    width: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section-3 .title .icon {
    background-image: url("/assets/Articles/Rectangle\ 363.png");
    width: 10px;
    height: 30px;
    margin: auto;
    margin-left: 0;

    height: fit-content;
    background-position: center left;
  }
  .section-3 .title .title_name {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    left: 10px;
    margin-bottom: 0;
    /* or 48px */

    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
  }
  .section-3 {
    position: relative;
    top: 0;
    margin: 0;
    right: 0;
    top: 350px;
    margin-bottom: 520px;
  }
  .section-3 .nav-btns {
    margin: 0;
    top: 0%;
    top: 25px;

    width: fit-content;
  }
  .section-3 .nav-btns #prev {
    height: 30px;
    width: 30px;
    margin: 0 8px;
    background-size: cover;
  }
  .section-3 .nav-btns #next {
    height: 30px;
    width: 30px;
    margin: 0 8px;
    background-size: cover;
  }

  .popular-articles .slide-section {
    position: relative;

    margin: 0;
    padding: 0;

    top: 0;
    width: 2000px;
  }
  .popular-articles #slide-bar {
    justify-content: start;
    margin: 0;
    top: 0;
  }
  .popular-articles .slide-hide-sec {
    position: relative;
    width: 105%;
    height: fit-content;

    padding: 0;
    margin: auto 0;
    border: none;
    overflow-x: hidden;
    top: 60px;
    overflow-y: clip;
  }

  .popular-articles .slide-item {
    position: relative;

    width: 315px;
    height: 346px;
    margin: auto 10px;

    /* White */

    background: #ffffff;
    border-radius: 15px;
  }
  .popular-articles .slide-item .content .desc p {
    width: 267px;
    height: 84px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
    /* White */
  }
  .popular-articles .slide-item .pic {
    width: 100%;
  }
  .popular-articles .slide-item .pic img {
    width: 100%;
  }

  /* section4 */
  .section-4 {
    position: relative;

    margin: 0;
    top: 0;
    margin-bottom: 300px;
  }
  .section-4 .title {
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section-4 .title .title_name {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    left: 10px;
    margin-bottom: 0;
    /* or 48px */

    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
  }
  .section-4 .title .icon {
    position: absolute;
    background-image: url("/assets/Articles/Rectangle\ 363.png");
    width: 10px;
    height: 30px;
    margin: auto;
    font-size: 32px;
    line-height: 150%;
    left: 10px;
    margin-bottom: 0;
    /* or 48px */

    letter-spacing: 0.08em;

    /* Kon */

    color: #373f66;
  }
  .section-4 #image-raw-1 {
    position: absolute;
    display: block;
    width: 100%;

    margin: 0;
    top: 80px;
    display: flex;
    flex-direction: raw;
    overflow: hidden;
    justify-content: space-between;
  }
  .section-4 #img-raw-1 .pic {
    position: relative;

    /* White */

    background: #ffffff;
    border-radius: 15px;
  }
  /* footer */
  #footer {
    height: 940px;
    width: 100%;
    margin-bottom: 0;
  }
  #footer .main-content-1 {
    display: block;
  }

  .footer-content .main-content-1 {
    width: 65%;
  }
  .footer-content .main-content-1 label {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.08em;

    color: #ffffff;
  }
  .row-1,
  .row-2,
  .row-3 {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .col-1,
  .col-2 {
    position: relative;
    float: left;
    box-sizing: border-box;
  }
  .col-1 {
    width: 50%;
  }
  .col-2 {
    width: 50%;
  }
  #footer .footer-content ul {
    margin-top: 20px;
    top: 0;
  }
  #footer .footer-content ul li {
    margin-top: 0;
    margin-bottom: 10px;
    top: 0;
  }
  #footer .footer-content ul li a {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    letter-spacing: 0.08em;
  }

  #footer .bottom-footer {
    position: static;
    margin-top: 110px;
  }
  #footer .bottom-footer .social {
    width: 130px;

    margin-right: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #footer .bottom-footer .social img {
    margin: 0;
  }
  #footer .footer-content .side-content {
    position: absolute;
    right: 0;
    top: 0;
    width: 33%;
  }

  .bottom-bar {
    height: 589px;
  }
}
/* @media only screen and (min-width: 1200px) and (max-width: 1366.5px) {
  .container {
    width: 100%;
  }

  .header .nav .nav-items li a {
    font-size: 12px;
  }
  .section-1 {
    margin-bottom: 600px;
  }
  .section-1 .main-bar .content {
    height: 580px;
  }
  .section-1 .side-bar {
    height: 580px;
  }
  .section-1 .side-bar .content-box {
    margin: 30px auto;
  }
  .article-content .article-item .pic img {
    position: absolute;
    width: 100%;
  }
  .section-2 .articles .article-content .content {
    position: absolute;
    top: 83%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    height: fit-content;
    width: 90%;

    padding: 0;
  }

  #footer .side-content .top-bar {
    position: relative;
    margin-bottom: 50px;
  }
  #footer .side-content .top-bar .fb-btn {
    position: absolute;
    background-color: #e2edfe;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    top: 5%;
    left: 75%;
  }
  #footer .side-content .top-bar .learn-btn {
    position: absolute;
    background-color: #e2edfe;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    top: 65%;
    left: 75%;
  }
  .carousel-control-next {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    left: 85%;

    background-position: center right;
  }
  .carousel-control-prev {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-position: center left;
  }
} */
@media (min-width: 1367px) {
  body {
    width: 100%;
    overflow-x: clip;
    margin: 0 auto;
  }
  .container {
    width: 1180px;
    margin: 0 auto;
  }
  .header {
    margin-top: 30px;
    height: 40px;
  }
  .header .nav .nav-items {
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin-left: 0;
    left: 0;
    left: 60px;
  }
  .header .nav .nav-items li {
    display: inline-block;
    margin: auto;
    left: 0;
    margin-left: 0;
    color: #373f66;
    margin-right: 20px;
  }
  .header .nav .nav-items li a {
    font-size: 12px;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
    color: #373f66;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.08em;
  }
  .header .nav .nav-items li img {
    margin-left: 8px;
  }
  .header .nav-btn1 {
    width: 130px;
    height: 40px;

    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 12px;
    margin-left: 60px;
    margin-right: 20px;
  }

  .header .nav-btn2 {
    width: 130px;
    height: 40px;
    background: #4ac0b1;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 12px;
    right: 0;
  }

  .section-1 {
    height: 800px;
    margin-top: 60px;
    margin-bottom: 0px;
  }
  .section-1 .main-bar {
    width: 100%;
    height: fit-content;

    top: 0;
    padding: 0;
    margin: auto 0;
    box-sizing: border-box;
  }
  .section-1 .main-bar .title {
    position: relative;

    top: 0;
  }
  .section-1 .main-bar .content {
    position: relative;
    width: 700px;
    background-color: white;
    height: 594px;
    padding-bottom: 10px;

    top: 20px;
    left: 0;
    border-radius: 15px;
  }
  .section-1 .main-bar .content .date {
    margin-bottom: 10px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .section-1 .content .carousel {
    width: 700px;
    height: 400px;
  }
  .section-1 .content .carousel .carousel-inner {
    width: 700px;
    height: 400px;
  }
  .section-1 .content .carousel .carousel-item img {
    width: 700px;
    height: 400px;
  }
  .carousel-control-prev {
    background-image: url("/assets/Group\ 125921.png");
    height: 60px;
    width: 30px;
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: none;
  }
  .carousel-control-next {
    background-image: url("/assets/Group\ 125920.png");

    width: 30px;
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: none;
  }
  .prev-next {
    position: absolute;
    width: 700px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 193px;
  }
  .section-1 .side-bar {
    position: absolute;
    width: 420px;
    top: 150px;
    height: 594px;
    margin-left: 60px;

    padding: 0;
  }
  .section-1 .side-bar .content-box {
    width: 360px;
    height: 104px;
    box-sizing: border-box;
  }

  .section-1 .side-bar .inner-side {
    position: relative;
    top: 29px;
    margin-bottom: 29px;

    margin: auto auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: fit-content;
    height: 536px;

    box-sizing: border-box;
  }

  .section-2 {
    position: relative;
    height: fit-content;

    height: 1400px;
    margin-top: 0px;
    top: 120px;
    margin-bottom: 0;
    bottom: 0;
  }
  .section-2 .articles {
    position: relative;

    width: 100%;
    height: 100%;
  }
  .section-2 .articles .title {
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
  }
  .section-2 .articles .header {
    position: relative;
    margin: 0;
    padding: 0;
    top: 60;
    bottom: 0;
  }
  .section-2 .articles .header {
    position: relative;
    margin: 0;
    padding: 0;
    top: 60;
    bottom: 0;
  }
  .section-2 .articles hr {
    position: relative;
    margin: auto auto;
    padding: 0;
    top: 60px;
    left: 0;
    right: 0;
  }
  .section-2 .articles .article-content {
    position: relative;
    margin: auto auto;

    padding: 0;
    top: 70px;
    left: 0;
    right: 0;
  }
  .section-2 .articles .article-content .article-item {
    position: relative;
    padding: 0;
  }
  .section-2 .articles .article-content .content {
    position: absolute;
    top: 0;
    left: 60%;
    right: 40%;
    bottom: 0;
    margin: auto 0;
    height: max-content;
    width: 40%;

    padding: 0;
  }
  .article-content .content .title h4 {
    font-family: 14px;
    font-weight: 400;
  }
  .article-content .content .title .read-more label {
    font-weight: 300;
  }
  .section-2 .pagination {
    position: relative;
    margin: 0;
    padding: 0;
    top: 80px;
    bottom: 0;
  }
  .section-3 {
    position: relative;

    margin: 0;
    padding: 0;
    bottom: 0;
    height: fit-content;
    top: 100px;
  }
  .section-3 .popular-articles .slide-section {
    top: 80px;
  }

  .section-3 .popular-articles #slide-bar {
    width: 1960px;
  }

  .section-4 {
    position: relative;

    margin: 0;
    padding: 0;
    bottom: 0;
    height: 400px;
    top: 250px;
  }
  .section-4 .title {
    position: relative;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
  }
  .section-4 .image-raw {
    position: relative;
    top: 80;
    bottom: 0;
    margin: 0;
    padding: 0;
  }

  #footer {
    position: relative;
    top: 300px;
    background-size: cover;
    background-position: center center;
    border-radius: 0;
  }
  #footer .side-content .top-bar {
    position: relative;
    margin-bottom: 50px;
  }
  #footer .side-content .top-bar .fb-btn {
    position: absolute;
    background-color: #e2edfe;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    top: 5%;
    left: 70%;
  }
  #footer .side-content .top-bar .learn-btn {
    position: absolute;
    background-color: #e2edfe;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    top: 65%;
    left: 70%;
  }
  #footer .side-content .top-bar .logo .label-2 {
    font-size: 11px;
    width: 58%;
  }
}

/* @media (min-device-width: 1400px) {
  .section-1 .carousel-control-prev {
    position: absolute;

    background-position: center left;
    left: 0;
    right: 0;
    margin: 0;
    top: 0;
    padding: 0;
    width: 34px;
    height: 58px;
    top: 42%;
    bottom: 0;
  }
  .section-1 .carousel-control-next {
    position: absolute;

    background-position: center right;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 95.5%;
    top: 42%;
  }

  .section-2 .articles .article-content .content {
    position: absolute;
    top: 0;
    left: 56%;

    bottom: 0;
    margin: auto 0;
    height: max-content;
    width: 40%;

    padding: 0;
  }
  .article-content .content .title h4 {
    font-family: 14px;
    font-weight: 400;
  }
  .article-content .content .title .read-more label {
    font-weight: 300;
  }
  .section-1 .side-bar .content-box {
    margin: 50px auto;

    width: fit-content;
  }
} */
